absen-otomatis-8K5Q1VglEvZ4GIMj.json
{"updatedAt":"2026-05-05T18:16:17.551Z","createdAt":"2026-04-30T04:07:54.413Z","id":"8K5Q1VglEvZ4GIMj","name":"Absen Otomatis","active":true,"isArchived":false,"nodes":[{"parameters":{"command":".venv/bin/python3 absen.py","cwd":"/home/n8nbot/absen/absenchaptcamax"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[448,576],"id":"2b2457f0-fbcf-45f8-8a68-74072da17d78","name":"Absen","credentials":{"sshPassword":{"id":"PQL5aLvKKpDTcTVD","name":"SSH Password account 4"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10 - 1 + 1) + 1) }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,576],"id":"4a8c7638-243f-4186-89c8-35b170a8a191","name":"Wait","webhookId":"b2cff5ef-bffe-403b-9397-f089349f3121","alwaysOutputData":false,"disabled":true},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1152],"id":"497792ab-eee1-4612-a277-dfa61c2d0c48","name":"IoT","executeOnce":false},{"parameters":{"method":"POST","url":"https://ntfy.sh/max-absen-info","sendBody":true,"contentType":"raw","rawContentType":"text","body":"={{ $json.stdout }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,576],"id":"3b09e86a-18f3-41f6-b77e-4041d8cb3387","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-16],"id":"b8a43fc3-e7d0-47bd-8526-8870f4460743","name":"Perancangan Infrastruktur Jaringan","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1008],"id":"17d371e9-d61a-4aed-96e7-df14f3d1953b","name":"HPC","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":16,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,688],"id":"9aa8d9b0-80cc-4ffc-8add-68d8576f33ad","name":"Metopen","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,864],"id":"b69f70c9-927b-4172-9146-4479ace8254a","name":"Pattern Recognition & ML","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,192],"id":"36704232-8831-4c29-8a82-9e3fc5d2aabd","name":"PEMROGRAMAN DAN SIMULASI JARINGAN","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,384],"id":"35efa648-f156-4104-8b40-3ead19a11651","name":"Technopreneurship","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":14,"triggerAtMinute":55}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-16,528],"id":"5ab4b47b-cd49-40c5-b172-d1da4c1bc2dc","name":"Proyek Technopreneurship1","executeOnce":false}],"connections":{"Absen":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Absen","type":"main","index":0}]]},"IoT":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Perancangan Infrastruktur Jaringan":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HPC":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Metopen":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Pattern Recognition & ML":{"main":[[{"node":"Wait","type":"main","index":0}]]},"PEMROGRAMAN DAN SIMULASI JARINGAN":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Technopreneurship":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Proyek Technopreneurship1":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:IoT":{"recurrenceRules":[]},"node:Perancangan Infrastruktur Jaringan":{"recurrenceRules":[]},"node:HPC":{"recurrenceRules":[]},"node:Metopen":{"recurrenceRules":[]},"node:Technopreneurship & Proyek Technopreneurship":{"recurrenceRules":[]},"node:Pattern Recognition & ML":{"recurrenceRules":[]},"node:Mikroprosesor dan Teknik Antarmuka":{"recurrenceRules":[]},"node:PEMROGRAMAN DAN SIMULASI JARINGAN":{"recurrenceRules":[]},"node:Technopreneurship":{"recurrenceRules":[]},"node:Proyek Technopreneurship1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"29ee8c62-097e-40ec-988e-4f0ba189a6e1","activeVersionId":"29ee8c62-097e-40ec-988e-4f0ba189a6e1","triggerCount":8,"shared":[{"updatedAt":"2026-04-30T04:07:54.415Z","createdAt":"2026-04-30T04:07:54.415Z","role":"workflow:owner","workflowId":"8K5Q1VglEvZ4GIMj","projectId":"yNPGWwRFGZHmMAlS"}],"activeVersion":{"updatedAt":"2026-05-05T18:17:56.000Z","createdAt":"2026-05-05T18:16:17.162Z","versionId":"29ee8c62-097e-40ec-988e-4f0ba189a6e1","workflowId":"8K5Q1VglEvZ4GIMj","nodes":[{"parameters":{"command":".venv/bin/python3 absen.py","cwd":"/home/n8nbot/absen/absenchaptcamax"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[448,576],"id":"2b2457f0-fbcf-45f8-8a68-74072da17d78","name":"Absen","credentials":{"sshPassword":{"id":"PQL5aLvKKpDTcTVD","name":"SSH Password account 4"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10 - 1 + 1) + 1) }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,576],"id":"4a8c7638-243f-4186-89c8-35b170a8a191","name":"Wait","webhookId":"b2cff5ef-bffe-403b-9397-f089349f3121","alwaysOutputData":false,"disabled":true},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1152],"id":"497792ab-eee1-4612-a277-dfa61c2d0c48","name":"IoT","executeOnce":false},{"parameters":{"method":"POST","url":"https://ntfy.sh/max-absen-info","sendBody":true,"contentType":"raw","rawContentType":"text","body":"={{ $json.stdout }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,576],"id":"3b09e86a-18f3-41f6-b77e-4041d8cb3387","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-16],"id":"b8a43fc3-e7d0-47bd-8526-8870f4460743","name":"Perancangan Infrastruktur Jaringan","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1008],"id":"17d371e9-d61a-4aed-96e7-df14f3d1953b","name":"HPC","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":16,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,688],"id":"9aa8d9b0-80cc-4ffc-8add-68d8576f33ad","name":"Metopen","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,864],"id":"b69f70c9-927b-4172-9146-4479ace8254a","name":"Pattern Recognition & ML","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,192],"id":"36704232-8831-4c29-8a82-9e3fc5d2aabd","name":"PEMROGRAMAN DAN SIMULASI JARINGAN","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,384],"id":"35efa648-f156-4104-8b40-3ead19a11651","name":"Technopreneurship","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":14,"triggerAtMinute":55}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-16,528],"id":"5ab4b47b-cd49-40c5-b172-d1da4c1bc2dc","name":"Proyek Technopreneurship1","executeOnce":false}],"connections":{"Absen":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Absen","type":"main","index":0}]]},"IoT":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Perancangan Infrastruktur Jaringan":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HPC":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Metopen":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Pattern Recognition & ML":{"main":[[{"node":"Wait","type":"main","index":0}]]},"PEMROGRAMAN DAN SIMULASI JARINGAN":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Technopreneurship":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Proyek Technopreneurship1":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Maksalmina Arina","name":"versi max","description":"update jadwal buy\n","autosaved":true},"tags":[]}