absen-otomatis-EFCIw7ry2v8XJm6T.json
{"updatedAt":"2026-04-15T11:10:05.748Z","createdAt":"2026-04-15T08:47:50.258Z","id":"EFCIw7ry2v8XJm6T","name":"Absen Otomatis","active":true,"isArchived":false,"nodes":[{"parameters":{"command":".venv/bin/python3 absen.py","cwd":"/home/n8nbot/absen/absenchaptcaanam"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[448,688],"id":"7e687ef7-654c-4b8a-bf05-d216a74a95ac","name":"Absen","credentials":{"sshPassword":{"id":"dG6kMvxcLGZaN0MA","name":"SSH Password account 3"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10 - 1 + 1) + 1) }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,688],"id":"204d513c-bd31-4032-8674-37ebd16173d7","name":"Wait","webhookId":"b2cff5ef-bffe-403b-9397-f089349f3121","alwaysOutputData":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1264],"id":"8d536c11-f7d0-490b-81f8-5e71c53dc73f","name":"IoT","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,112],"id":"1f3da451-f07f-491d-8e8f-81f93c001b0e","name":"Mikroprosesor dan Teknik Antarmuka","executeOnce":false},{"parameters":{"method":"POST","url":"https://ntfy.sh/anam-absen-info","sendBody":true,"contentType":"raw","rawContentType":"text","body":"={{ $json.stdout }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,688],"id":"58de294e-74fd-4bec-9c1d-8eb68a8e9434","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,304],"id":"e2eefc47-cea7-4643-934e-ff26e11a77d6","name":"Perancangan Infrastruktur Jaringan","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1072],"id":"fcd37c36-d9e3-4d83-b0cb-aa1cb21b9509","name":"HPC","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":16,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,688],"id":"280d1232-6425-4166-bb2e-3f83b9521624","name":"Metopen","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,496],"id":"44fa84c3-b22a-4a96-a286-51405c093f0c","name":"Technopreneurship & Proyek Technopreneurship","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,880],"id":"4c941d09-a1b2-4ad6-a879-2c1a2ea68101","name":"Pattern Recognition & ML","executeOnce":false}],"connections":{"Absen":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Absen","type":"main","index":0}]]},"IoT":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Mikroprosesor dan Teknik Antarmuka":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Perancangan Infrastruktur Jaringan":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HPC":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Metopen":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Technopreneurship & Proyek Technopreneurship":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Pattern Recognition & ML":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:ML":{"recurrenceRules":[]},"node:IoT":{"recurrenceRules":[]},"node:Mikroprosesor dan Teknik Antarmuka":{"recurrenceRules":[]},"node:Perancangan Infrastruktur Jaringan":{"recurrenceRules":[]},"node:Technopreneurship":{"recurrenceRules":[]},"node:HPC":{"recurrenceRules":[]},"node:Metopen":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"61f5aa92-db8b-412c-aa34-8ed70f5240eb","activeVersionId":"e4f03b51-4dcd-4c11-a7ca-c318795f9c10","triggerCount":7,"shared":[{"updatedAt":"2026-04-15T08:47:50.260Z","createdAt":"2026-04-15T08:47:50.260Z","role":"workflow:owner","workflowId":"EFCIw7ry2v8XJm6T","projectId":"CCZfNFRNM8o7O5rJ"}],"activeVersion":{"updatedAt":"2026-04-15T09:03:06.000Z","createdAt":"2026-04-15T09:02:57.279Z","versionId":"e4f03b51-4dcd-4c11-a7ca-c318795f9c10","workflowId":"EFCIw7ry2v8XJm6T","nodes":[{"parameters":{"command":".venv/bin/python3 absen.py","cwd":"/home/n8nbot/absen/absenchaptcaanam"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[448,688],"id":"7e687ef7-654c-4b8a-bf05-d216a74a95ac","name":"Absen","credentials":{"sshPassword":{"id":"dG6kMvxcLGZaN0MA","name":"SSH Password account 3"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10 - 1 + 1) + 1) }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,688],"id":"204d513c-bd31-4032-8674-37ebd16173d7","name":"Wait","webhookId":"b2cff5ef-bffe-403b-9397-f089349f3121","alwaysOutputData":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,880],"id":"4c941d09-a1b2-4ad6-a879-2c1a2ea68101","name":"ML","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1264],"id":"8d536c11-f7d0-490b-81f8-5e71c53dc73f","name":"IoT","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,112],"id":"1f3da451-f07f-491d-8e8f-81f93c001b0e","name":"Mikroprosesor dan Teknik Antarmuka","executeOnce":false},{"parameters":{"method":"POST","url":"https://ntfy.sh/anam-absen-info","sendBody":true,"contentType":"raw","rawContentType":"text","body":"={{ $json.stdout }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,688],"id":"58de294e-74fd-4bec-9c1d-8eb68a8e9434","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,304],"id":"e2eefc47-cea7-4643-934e-ff26e11a77d6","name":"Perancangan Infrastruktur Jaringan","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,496],"id":"44fa84c3-b22a-4a96-a286-51405c093f0c","name":"Technopreneurship","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1072],"id":"fcd37c36-d9e3-4d83-b0cb-aa1cb21b9509","name":"HPC","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":16,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,688],"id":"280d1232-6425-4166-bb2e-3f83b9521624","name":"Metopen","executeOnce":false}],"connections":{"Absen":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Absen","type":"main","index":0}]]},"ML":{"main":[[{"node":"Wait","type":"main","index":0}]]},"IoT":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Mikroprosesor dan Teknik Antarmuka":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Perancangan Infrastruktur Jaringan":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Technopreneurship":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HPC":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Metopen":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"authors":"Sayidil  Anam","name":"absen v1.2","description":"","autosaved":false},"tags":[]}