absen-otomatis-CG1RRWA8DxmoBTPY.json
{"updatedAt":"2026-04-15T08:56:29.139Z","createdAt":"2026-04-15T08:12:16.789Z","id":"CG1RRWA8DxmoBTPY","name":"Absen Otomatis","active":false,"isArchived":false,"nodes":[{"parameters":{"command":".venv/bin/python3 absen.py","cwd":"/home/n8nbot/absen/absenchaptcaakp"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[448,672],"id":"49920170-cd52-442b-bd6e-0f678b09f194","name":"Absen","credentials":{"sshPassword":{"id":"fgynkwgOdDqwN2jO","name":"SSH Password account 2"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[224,672],"id":"bfdf5f4e-67f4-459b-a1e7-4cd1cb932e38","name":"When Executed by Another Workflow"},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10 - 1 + 1) + 1) }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,480],"id":"0dc5e5a8-6e7a-4058-a77f-f5a83475031c","name":"Wait","webhookId":"b2cff5ef-bffe-403b-9397-f089349f3121","alwaysOutputData":false,"disabled":true},{"parameters":{"httpMethod":"POST","path":"28a15265-0a35-41b8-a33d-d10594d08b60","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[224,864],"id":"a3883990-2d46-4a8d-8108-8fcbde053952","name":"Webhook","webhookId":"28a15265-0a35-41b8-a33d-d10594d08b60"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"64f52c01-dc93-403f-b55e-3fc5f4b47bc8","name":"KBL","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,224],"id":"486b1646-0518-46bd-8ea7-3800b4c571f4","name":"Techno","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,672],"id":"fab4af2b-dbad-4011-9b3b-69efeb813aed","name":"ML","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1120],"id":"1ef2ac8b-852c-4fef-a695-e99d48f40380","name":"IoT","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,448],"id":"d14eef8c-a10f-416b-96c0-edcb6805b3e3","name":"Infra","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,896],"id":"63a117d7-b9af-448d-b88c-9d3ce5d62360","name":"HPC","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-192,304],"id":"3ee73bed-0853-4655-bc0b-cc115b56a4d1","name":"sim jaringan","executeOnce":false},{"parameters":{"method":"POST","url":"https://ntfy.sh/nap-simkul-info","sendBody":true,"contentType":"raw","rawContentType":"text","body":"={{ $('Absen').item.json.stdout }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[720,688],"id":"f9b8f56b-3ff7-4159-8e04-96eff7210cff","name":"HTTP Request"}],"connections":{"Absen":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Absen","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Absen","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Absen","type":"main","index":0}]]},"KBL":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Techno":{"main":[[{"node":"Wait","type":"main","index":0}]]},"ML":{"main":[[{"node":"Wait","type":"main","index":0}]]},"IoT":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HPC":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Infra":{"main":[[{"node":"Wait","type":"main","index":0}]]},"sim jaringan":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Absen":[{"json":{"code":0,"signal":null,"stdout":"Waktu: Wednesday, 15-04-2026 15:23 WIB\njadwal_cache.json tidak ditemukan — absen akan tetap dicoba.\nTidak ada jadwal hari ini di cache — tetap mencoba absen.\n\nMemulai login...\nCAPTCHA terbaca: vuj6j\nLogin berhasil!\nTidak ada tombol absen yang tersedia.","stderr":""},"pairedItem":{"item":0}}]},"versionId":"50391986-0352-491a-b112-0cf6a678ffcc","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-15T08:12:16.792Z","createdAt":"2026-04-15T08:12:16.792Z","role":"workflow:owner","workflowId":"CG1RRWA8DxmoBTPY","projectId":"CNnhT3pGQRiBDkGq"}],"activeVersion":null,"tags":[]}