absen-otomatis-84dwMIW7pkWnXjZq.json
{"updatedAt":"2026-05-05T05:04:19.595Z","createdAt":"2026-05-05T04:25:01.717Z","id":"84dwMIW7pkWnXjZq","name":"Absen Otomatis","active":true,"isArchived":false,"nodes":[{"parameters":{"command":".venv/bin/python3 absen.py","cwd":"/home/n8nbot/absen/absenchaptcabarak"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[448,576],"id":"84c8aab2-7e5a-48a6-bbf1-10663f41d6ec","name":"Absen","credentials":{"sshPassword":{"id":"tig4k9CY0M1JLerg","name":"SSH Password account 5"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10 - 1 + 1) + 1) }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,576],"id":"f905b65b-ffea-452b-a73e-f339c7450db9","name":"Wait","webhookId":"b2cff5ef-bffe-403b-9397-f089349f3121","alwaysOutputData":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1152],"id":"f6178d30-963c-4f65-ab26-b6b35b0f4033","name":"IoT","executeOnce":false},{"parameters":{"method":"POST","url":"https://ntfy.sh/barak-absen-info","sendBody":true,"contentType":"raw","rawContentType":"text","body":"={{ $json.stdout }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,576],"id":"b142b41b-7950-4929-9bbd-f300b298a0e3","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,192],"id":"8afeb5c4-aae9-4a30-abf6-4ac72f951eb8","name":"Perancangan Infrastruktur Jaringan","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,960],"id":"61248bb1-195b-4cd8-8ce6-9e25086937c7","name":"HPC","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14,"triggerAtMinute":55}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,384],"id":"d5fdfcdf-0420-4907-9429-463eff45549e","name":"Technopreneurship & Proyek Technopreneurship","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,768],"id":"ae427e50-1625-41fc-a77a-1f080bc4f373","name":"Pattern Recognition & ML","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"738d0c1b-cb46-4c33-b0c1-802c63ac6eda","name":"Simulasi dan Pemrograman","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[2],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,576],"id":"e303858c-0518-4393-8359-4a7a60a3f944","name":"Grafkom","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[128,1296],"id":"8f1d9135-85e0-45a5-b440-39194310fe2c","name":"CV","executeOnce":false}],"connections":{"Absen":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Absen","type":"main","index":0}]]},"IoT":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Perancangan Infrastruktur Jaringan":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HPC":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Technopreneurship & Proyek Technopreneurship":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Pattern Recognition & ML":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Simulasi dan Pemrograman":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Grafkom":{"main":[[{"node":"Wait","type":"main","index":0}]]},"CV":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:IoT":{"recurrenceRules":[]},"node:Perancangan Infrastruktur Jaringan":{"recurrenceRules":[]},"node:HPC":{"recurrenceRules":[]},"node:Technopreneurship & Proyek Technopreneurship":{"recurrenceRules":[]},"node:Pattern Recognition & ML":{"recurrenceRules":[]},"node:Simulasi dan Pemrograman":{"recurrenceRules":[]},"node:Grafkom":{"recurrenceRules":[]},"node:CV":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{"Simulasi dan Pemrograman":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"7125d0ec-b2ab-4c9c-abd1-5fdde2464c8c","activeVersionId":"7125d0ec-b2ab-4c9c-abd1-5fdde2464c8c","triggerCount":8,"shared":[{"updatedAt":"2026-05-05T04:25:01.720Z","createdAt":"2026-05-05T04:25:01.720Z","role":"workflow:owner","workflowId":"84dwMIW7pkWnXjZq","projectId":"KtVa4ipu8a84GmkA"}],"activeVersion":{"updatedAt":"2026-05-05T05:04:22.000Z","createdAt":"2026-05-05T05:04:19.596Z","versionId":"7125d0ec-b2ab-4c9c-abd1-5fdde2464c8c","workflowId":"84dwMIW7pkWnXjZq","nodes":[{"parameters":{"command":".venv/bin/python3 absen.py","cwd":"/home/n8nbot/absen/absenchaptcabarak"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[448,576],"id":"84c8aab2-7e5a-48a6-bbf1-10663f41d6ec","name":"Absen","credentials":{"sshPassword":{"id":"tig4k9CY0M1JLerg","name":"SSH Password account 5"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * (10 - 1 + 1) + 1) }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[224,576],"id":"f905b65b-ffea-452b-a73e-f339c7450db9","name":"Wait","webhookId":"b2cff5ef-bffe-403b-9397-f089349f3121","alwaysOutputData":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1152],"id":"f6178d30-963c-4f65-ab26-b6b35b0f4033","name":"IoT","executeOnce":false},{"parameters":{"method":"POST","url":"https://ntfy.sh/barak-absen-info","sendBody":true,"contentType":"raw","rawContentType":"text","body":"={{ $json.stdout }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,576],"id":"b142b41b-7950-4929-9bbd-f300b298a0e3","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,192],"id":"8afeb5c4-aae9-4a30-abf6-4ac72f951eb8","name":"Perancangan Infrastruktur Jaringan","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,960],"id":"61248bb1-195b-4cd8-8ce6-9e25086937c7","name":"HPC","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":14,"triggerAtMinute":55}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,384],"id":"d5fdfcdf-0420-4907-9429-463eff45549e","name":"Technopreneurship & Proyek Technopreneurship","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,768],"id":"ae427e50-1625-41fc-a77a-1f080bc4f373","name":"Pattern Recognition & ML","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":10,"triggerAtMinute":45}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"738d0c1b-cb46-4c33-b0c1-802c63ac6eda","name":"Simulasi dan Pemrograman","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[2],"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,576],"id":"e303858c-0518-4393-8359-4a7a60a3f944","name":"Grafkom","executeOnce":false},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[128,1296],"id":"8f1d9135-85e0-45a5-b440-39194310fe2c","name":"CV","executeOnce":false}],"connections":{"Absen":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Absen","type":"main","index":0}]]},"IoT":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Perancangan Infrastruktur Jaringan":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HPC":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Technopreneurship & Proyek Technopreneurship":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Pattern Recognition & ML":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Simulasi dan Pemrograman":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Grafkom":{"main":[[{"node":"Wait","type":"main","index":0}]]},"CV":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Muhammad Bintang Panji Kusuma","name":"Version 7125d0ec","description":"","autosaved":true},"tags":[]}