calendar-agent-s0FyZDAmXHofrOEz.json
{"createdAt":"2025-09-25T18:10:44.976Z","updatedAt":"2025-10-09T16:01:14.000Z","id":"s0FyZDAmXHofrOEz","name":"Calendar agent","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"bintang10panji@gmail.com","mode":"list","cachedResultName":"bintang10panji@gmail.com"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `Start date for availability check`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `End date for availability check`, 'string') }}","options":{}},"id":"e3eb2815-735f-4efd-a844-da9d53e45aae","name":"Get availability","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-32,224],"credentials":{"googleCalendarOAuth2Api":{"id":"MN50hu2TsDi25Xgv","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"bintang10panji@gmail.com","mode":"list","cachedResultName":"bintang10panji@gmail.com"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Start date for events search`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `End date for events search`, 'string') }}","options":{}},"id":"d6c00690-8d0c-4942-aa17-077e61c909d1","name":"Get events","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[112,224],"credentials":{"googleCalendarOAuth2Api":{"id":"MN50hu2TsDi25Xgv","name":"Google Calendar account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-176,224],"id":"56bd33c7-bb31-4957-9f12-fdcc2351880d","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# 🧾 Calendar Agent\nKamu adalah **Calendar Agent**, agen yang mengatur jadwal Google Calendar milik user.\n\n### Kemampuan\n- Membuat, melihat, memperbarui, dan menghapus event di kalender.\n- Mengecek ketersediaan waktu antara dua tanggal.\n\n### Aturan\n- Gunakan waktu dalam format ISO (RFC3339) untuk field waktu (`start`, `end`).\n- Pastikan setiap event memiliki minimal `summary` dan `start/end time`.\n- Saat parent agent meminta, respon dengan ringkas namun jelas.\n\n### Output\n- Untuk hasil pencarian event: berikan daftar event singkat (judul + tanggal).\n- Untuk aksi pembuatan/pembaruan: konfirmasi detail event yang berhasil dilakukan.\n- Sekarang adalah {{ $now }}.","maxIterations":10}},"id":"1e8be9e3-24a4-415b-9424-6f9010c5f333","name":"Calendar agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-160,-32]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-336,208],"id":"347bb584-5109-45b4-a08b-2905e7fdbde5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LPqCX4YBuBetFhd2","name":"Google Gemini(PaLM) Api bintang10panji@gmail.com"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"bintang10panji@gmail.com","mode":"list","cachedResultName":"bintang10panji@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[512,224],"id":"c3de51fd-d48d-4aae-b707-38caf148284f","name":"Delete an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"MN50hu2TsDi25Xgv","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"bintang10panji@gmail.com","mode":"list","cachedResultName":"bintang10panji@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","updateFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[400,224],"id":"de5f3f19-0f6f-4c0c-ba7d-eb60e5232b1a","name":"Update an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"MN50hu2TsDi25Xgv","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"bintang10panji@gmail.com","mode":"list","cachedResultName":"bintang10panji@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","location":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[256,224],"id":"a7fa0b21-d395-48f3-9d8d-4da45fc25541","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"MN50hu2TsDi25Xgv","name":"Google Calendar account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-448,-32],"id":"e1d021f4-d272-4ec0-9e9a-7f5e435040ca","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"d406ad8f-10f8-4919-8c39-fb93a2554d66","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-32],"id":"665c19d5-b771-4239-8598-24a819f52a39","name":"Edit Fields"}],"connections":{"Get availability":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Get events":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Calendar agent","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Calendar agent","type":"ai_languageModel","index":0}]]},"Delete an event in Google Calendar":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Update an event in Google Calendar":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"Calendar agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Calendar agent","type":"main","index":0}]]},"Calendar agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"AvhjGJdACMdnvIEn"},"staticData":null,"meta":{"templateId":"calendar_agent_with_gcal","templateCredsSetupCompleted":true},"pinData":{},"versionId":"5dcd6dab-c294-4b2f-8e4e-2a49643ec4b0","triggerCount":0,"shared":[{"createdAt":"2025-09-25T18:10:44.986Z","updatedAt":"2025-09-25T18:10:44.986Z","role":"workflow:owner","workflowId":"s0FyZDAmXHofrOEz","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[{"createdAt":"2025-10-06T05:05:37.121Z","updatedAt":"2025-10-06T05:05:37.121Z","id":"Xp9ppupv5ftjKZ28","name":"Agents"}]}