error-logger-PWFdEg6jEbv43mqe.json
{"updatedAt":"2026-05-12T12:51:57.303Z","createdAt":"2026-04-02T08:21:02.597Z","id":"PWFdEg6jEbv43mqe","name":"Error Logger","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-224,96],"id":"ad9ab99a-975e-4492-99d2-21e8fcc486bc","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=<@664803448629493816>\n⚠️ **Workflow** : {{ $json.workflow.name }}\n❌ **Error** : {{ $json.execution.error.message }}\n🔗 **Link** : ({{ $json.execution.url }})\n🕜 **Time** : {{ $now.format('yyyy-MM-dd hh:mm') }}WIB\n\n-----------------------------------------","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[0,192],"id":"250700ea-2391-4c99-9fd4-4945e22acc5c","name":"Discord","webhookId":"18964516-a7c2-41ba-bcf6-52c318bdf476","credentials":{"discordWebhookApi":{"id":"5TSz1fTb1yQHXwaY","name":"n8n server"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"MzrXitN7cPXFBHp5","mode":"list","cachedResultName":"Error Log","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/MzrXitN7cPXFBHp5"},"columns":{"mappingMode":"defineBelow","value":{"url":"={{ $json.execution.url }}","retryOf":"={{ $json.execution.retryOf }}","message":"={{ $json.execution.error.message }}","lastNodeExecuted":"={{ $json.execution.lastNodeExecuted }}","mode":"={{ $json.execution.mode }}","name":"={{ $json.workflow.name }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"retryOf","displayName":"retryOf","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lastNodeExecuted","displayName":"lastNodeExecuted","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[0,0],"id":"9bad10cb-cc54-4e04-8530-2079dfa66081","name":"Insert row"}],"connections":{"Error Trigger":{"main":[[{"node":"Discord","type":"main","index":0},{"node":"Insert row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"55a4c2bc-e3ca-44b9-9664-2c3b38cd34bc","activeVersionId":"55a4c2bc-e3ca-44b9-9664-2c3b38cd34bc","triggerCount":0,"shared":[{"updatedAt":"2026-04-02T08:21:02.599Z","createdAt":"2026-04-02T08:21:02.599Z","role":"workflow:owner","workflowId":"PWFdEg6jEbv43mqe","projectId":"UoStXPqNC0kdV8zl"}],"activeVersion":{"updatedAt":"2026-05-12T12:52:08.000Z","createdAt":"2026-05-12T12:51:57.303Z","versionId":"55a4c2bc-e3ca-44b9-9664-2c3b38cd34bc","workflowId":"PWFdEg6jEbv43mqe","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-224,96],"id":"ad9ab99a-975e-4492-99d2-21e8fcc486bc","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=<@664803448629493816>\n⚠️ **Workflow** : {{ $json.workflow.name }}\n❌ **Error** : {{ $json.execution.error.message }}\n🔗 **Link** : ({{ $json.execution.url }})\n🕜 **Time** : {{ $now.format('yyyy-MM-dd hh:mm') }}WIB\n\n-----------------------------------------","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[0,192],"id":"250700ea-2391-4c99-9fd4-4945e22acc5c","name":"Discord","webhookId":"18964516-a7c2-41ba-bcf6-52c318bdf476","credentials":{"discordWebhookApi":{"id":"5TSz1fTb1yQHXwaY","name":"n8n server"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"MzrXitN7cPXFBHp5","mode":"list","cachedResultName":"Error Log","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/MzrXitN7cPXFBHp5"},"columns":{"mappingMode":"defineBelow","value":{"url":"={{ $json.execution.url }}","retryOf":"={{ $json.execution.retryOf }}","message":"={{ $json.execution.error.message }}","lastNodeExecuted":"={{ $json.execution.lastNodeExecuted }}","mode":"={{ $json.execution.mode }}","name":"={{ $json.workflow.name }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"retryOf","displayName":"retryOf","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lastNodeExecuted","displayName":"lastNodeExecuted","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[0,0],"id":"9bad10cb-cc54-4e04-8530-2079dfa66081","name":"Insert row"}],"connections":{"Error Trigger":{"main":[[{"node":"Discord","type":"main","index":0},{"node":"Insert row","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Muhammad Bintang Panji Kusuma","name":"Version 55a4c2bc","description":"","autosaved":true},"tags":[]}