error-logger-AvhjGJdACMdnvIEn.json
{"createdAt":"2025-07-29T21:01:37.034Z","updatedAt":"2025-10-08T16:47:16.000Z","id":"AvhjGJdACMdnvIEn","name":"Error Logger","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-64,0],"id":"00223e61-63e2-4ff0-9ee3-b33c92cdd718","name":"Error Trigger"},{"parameters":{"authentication":"webhook","content":"=<@664803448629493816>\n⚠️ **Workflow** : {{ $json.workflow.name }}\n❌ **Error** : {{ $json.execution.error.message }}\n🔗 **Link** : ({{ $json.execution.url }})\n🕜 **Time** : {{ $now.format('yyyy-MM-dd hh:mm') }}WIB\n\n-----------------------------------------","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[160,96],"id":"3ee783f9-23dc-476b-abe3-88c6019902d1","name":"Discord","webhookId":"18964516-a7c2-41ba-bcf6-52c318bdf476","credentials":{"discordWebhookApi":{"id":"3MQKCQrGiORnhds6","name":"HomeLab n8nbot"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"MzrXitN7cPXFBHp5","mode":"list","cachedResultName":"Error Log","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/MzrXitN7cPXFBHp5"},"columns":{"mappingMode":"defineBelow","value":{"url":"={{ $json.execution.url }}","retryOf":"={{ $json.execution.retryOf }}","message":"={{ $json.execution.error.message }}","lastNodeExecuted":"={{ $json.execution.lastNodeExecuted }}","mode":"={{ $json.execution.mode }}","name":"={{ $json.workflow.name }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"retryOf","displayName":"retryOf","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lastNodeExecuted","displayName":"lastNodeExecuted","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[160,-96],"id":"59694551-d11d-4995-8b30-371ba1bfbe3d","name":"Insert row"}],"connections":{"Error Trigger":{"main":[[{"node":"Discord","type":"main","index":0},{"node":"Insert row","type":"main","index":0}]]},"Insert row":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"74e34b5c-56e8-45ec-8643-d2fb8def9894","triggerCount":0,"shared":[{"createdAt":"2025-07-29T21:01:37.039Z","updatedAt":"2025-07-29T21:01:37.039Z","role":"workflow:owner","workflowId":"AvhjGJdACMdnvIEn","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[]}