finance-agent-efllgWgkQ1EbMi9v.json
{"createdAt":"2025-07-29T16:36:07.600Z","updatedAt":"2025-10-06T05:06:08.000Z","id":"efllgWgkQ1EbMi9v","name":"Finance Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.query }}","hasOutputParser":true,"options":{"systemMessage":"kamu adalah tool finance agent yang dapat melihat semua isi google sheet saya dan update atau append file tersebut"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[112,-80],"id":"e893572d-ae1b-46e4-967e-c121312a748c","name":"Finance assistent"},{"parameters":{"jsCode":"// Ambil input dari field yang berisi pesan\nconst msg = $input.first().json.output; // sesuaikan dengan nama field kamu\n\n// Hilangkan karakter raw Markdown yang bisa bikin Telegram error\nconst cleaned = msg\n  .replace(/[*_`~]/g, '')      // hapus semua *, _, `, ~\n  .replace(/\\n{2,}/g, '\\n')    // ubah 2+ newline jadi 1 newline\n  .replace(/^\\s*[-*]\\s+/gm, '')// hilangkan bullet list (-, *) di awal baris\n\nreturn {\n  json: {\n    message: cleaned,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-80],"id":"8cdf221a-ad36-434f-8af9-f033471a689c","name":"Code"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[16,144],"id":"1c46961a-354d-40d5-956a-9db571daec68","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LPqCX4YBuBetFhd2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1YK3GzuECteXcnbEeDUs-ceIMUqjXFwKOx2Tw3YvKM0Q","mode":"list","cachedResultName":"Personal Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YK3GzuECteXcnbEeDUs-ceIMUqjXFwKOx2Tw3YvKM0Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YK3GzuECteXcnbEeDUs-ceIMUqjXFwKOx2Tw3YvKM0Q/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[304,144],"id":"1bd23cd7-fb93-4cd4-8003-757cba0208ab","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"O44o2mQHm5JgZ42J","name":"Personal Finance"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YK3GzuECteXcnbEeDUs-ceIMUqjXFwKOx2Tw3YvKM0Q","mode":"list","cachedResultName":"Personal Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YK3GzuECteXcnbEeDUs-ceIMUqjXFwKOx2Tw3YvKM0Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YK3GzuECteXcnbEeDUs-ceIMUqjXFwKOx2Tw3YvKM0Q/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID__using_to_match_', ``, 'string') }}","Tanggal dan Waktu":"={{ $now.format('yyyy-MM-dd')}}","Jenis Transaksi":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Jenis_Transaksi', ``, 'string') }}","Keterangan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keterangan', ``, 'string') }}"," Nominal (IDR)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_Nominal__IDR_', ``, 'string') }}","Kategori":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Kategori', ``, 'string') }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tanggal dan Waktu","displayName":"Tanggal dan Waktu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Jenis Transaksi","displayName":"Jenis Transaksi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keterangan","displayName":"Keterangan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":" Nominal (IDR)","displayName":" Nominal (IDR)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kategori","displayName":"Kategori","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[496,144],"id":"06606d57-9b50-4aac-893a-9dc658e6950c","name":"Append or update row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"O44o2mQHm5JgZ42J","name":"Personal Finance"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"7257300008","contextWindowLength":2},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[144,144],"id":"d8c101b2-eef6-4ae1-9138-5d4486fadfaa","name":"Simple Memory"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,-112],"id":"ebfd0b10-8d90-4b2d-bf7d-57589b66101a","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-80],"id":"6cd4fbb1-0688-4fce-9990-7307716ab475","name":"Edit Fields"}],"connections":{"Finance assistent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Finance assistent","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"Finance assistent","type":"ai_tool","index":0}]]},"Append or update row in sheet in Google Sheets":{"ai_tool":[[{"node":"Finance assistent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Finance assistent","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Finance assistent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"AvhjGJdACMdnvIEn"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bf71cae1-8458-4f9b-b975-12cb6f09327e","triggerCount":1,"shared":[{"createdAt":"2025-07-29T16:36:07.607Z","updatedAt":"2025-07-29T16:36:07.607Z","role":"workflow:owner","workflowId":"efllgWgkQ1EbMi9v","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[{"createdAt":"2025-10-06T05:05:37.121Z","updatedAt":"2025-10-06T05:05:37.121Z","id":"Xp9ppupv5ftjKZ28","name":"Agents"}]}