finance-agent-efllgWgkQ1EbMi9v.json
{"createdAt":"2025-07-29T16:36:07.600Z","updatedAt":"2025-10-08T09:36:39.000Z","id":"efllgWgkQ1EbMi9v","name":"Finance Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=Anda adalah 'Finance Logger', sebuah agen yang hanya bertugas mengkonversi data keuangan mentah (teks, struk, invoice) yang dikirimkan oleh Parent Agent menjadi format data terstruktur.\n\n**PERAN & OUTPUT WAJIB:**\n\n1.  **Strict Output:** tugas anda menginput ke tool table yang bisa kamu akses.\n2.  **Mata Uang:** Nominal selalu dalam IDR. Outputkan HANYA **angka** (integer atau float), TANPA simbol mata uang (Rp) atau pemisah ribuan/desimal. (Contoh: 55000)\n3.  **Jenis Transaksi:** Hanya boleh salah satu dari dua nilai: **Pemasukan** atau **Pengeluaran**.\n4.  **Tanggal:** Konversi tanggal ke format: **dd-MM-yyyy hh:mm** dengan type data string. jika tidak dibilang jam dan tanggal pakailah waktu sekarang : {{ $now }}\n\n**KATEGORI WAJIB:**\nGUNAKAN kategori yang PALING SESUAI dari DAFTAR berikut. Jika tidak ada yang cocok, gunakan **Lain-lain**.\n\n* **PENGELUARAN:** Makanan & Minuman, Transportasi, Belanja Kebutuhan, Tagihan & Utilitas, Hiburan, Pendidikan, Kesehatan, Cicilan & Utang, Donasi, Lain-lain.\n* **PEMASUKAN:** Gaji, Bonus/Komisi, Investasi, Pendapatan Sampingan, Pinjaman, Lain-lain."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[320,-32],"id":"e893572d-ae1b-46e4-967e-c121312a748c","name":"Finance assistent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[64,192],"id":"1c46961a-354d-40d5-956a-9db571daec68","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LPqCX4YBuBetFhd2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"7257300008","contextWindowLength":2},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,192],"id":"d8c101b2-eef6-4ae1-9138-5d4486fadfaa","name":"Simple Memory"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,-32],"id":"ebfd0b10-8d90-4b2d-bf7d-57589b66101a","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ec7d3dbc-7067-41c6-93b6-03b40d261ad3","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,-128],"id":"6cd4fbb1-0688-4fce-9990-7307716ab475","name":"Edit Fields"},{"parameters":{"descriptionType":"manual","toolDescription":"Insert row in Data table for financial report","dataTableId":{"__rl":true,"value":"49QSFI9nwJItXyvp","mode":"list","cachedResultName":"Financial report","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/49QSFI9nwJItXyvp"},"columns":{"mappingMode":"defineBelow","value":{"Keterangan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keterangan', ``, 'string') }}","JenisTransaksi":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JenisTransaksi', ``, 'string') }}","kategori":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('kategori', ``, 'string') }}","nominalIDR":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nominalIDR', ``, 'number') }}","tanggalTransaksi":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tanggalTransaksi', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Keterangan","displayName":"Keterangan","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tanggalTransaksi","displayName":"tanggalTransaksi","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"JenisTransaksi","displayName":"JenisTransaksi","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"nominalIDR","displayName":"nominalIDR","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"kategori","displayName":"kategori","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[320,192],"id":"cf0329a8-66bf-4a0c-a525-8517226f047d","name":"Insert row in Data table"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"49QSFI9nwJItXyvp","mode":"list","cachedResultName":"Financial report","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/49QSFI9nwJItXyvp"},"returnAll":""},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[448,192],"id":"d453a257-1a66-4ea1-9dce-4c6b7afff9a7","name":"Get row(s) in Data table"},{"parameters":{"workflowId":{"__rl":true,"value":"ZNDa7QrZC8lU0uQj","mode":"list","cachedResultUrl":"/workflow/ZNDa7QrZC8lU0uQj","cachedResultName":"tableToSheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[912,64],"id":"c3f5bb83-e43a-44a5-a43d-fe46546fdc56","name":"Call 'tableToSheet'"},{"parameters":{"operation":"rowExists","dataTableId":{"__rl":true,"value":"49QSFI9nwJItXyvp","mode":"list","cachedResultName":"Financial report","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/49QSFI9nwJItXyvp"},"filters":{"conditions":[{"keyName":"Keterangan","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[576,192],"id":"5f7681c0-f1f2-4063-bd0e-1a240ade4cb5","name":"If keterangan exist"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"49QSFI9nwJItXyvp","mode":"list","cachedResultName":"Financial report","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/49QSFI9nwJItXyvp"},"filters":{"conditions":[{"keyName":"kategori","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"columns":{"mappingMode":"defineBelow","value":{"nominalIDR":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nominalIDR', ``, 'number') }}","Keterangan":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keterangan', ``, 'string') }}","tanggalTransaksi":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tanggalTransaksi', ``, 'string') }}","JenisTransaksi":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JenisTransaksi', ``, 'string') }}","kategori":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('kategori', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Keterangan","displayName":"Keterangan","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tanggalTransaksi","displayName":"tanggalTransaksi","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"JenisTransaksi","displayName":"JenisTransaksi","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"nominalIDR","displayName":"nominalIDR","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"kategori","displayName":"kategori","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[704,192],"id":"03a8c4dc-d573-48cb-95e3-60c4489a6a16","name":"Update row(s) in Data table"}],"connections":{"Finance assistent":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Call 'tableToSheet'","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Finance assistent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Finance assistent","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Finance assistent","type":"main","index":0}]]},"Insert row in Data table":{"ai_tool":[[{"node":"Finance assistent","type":"ai_tool","index":0}]]},"Get row(s) in Data table":{"ai_tool":[[{"node":"Finance assistent","type":"ai_tool","index":0}]]},"Call 'tableToSheet'":{"main":[[]]},"If keterangan exist":{"ai_tool":[[{"node":"Finance assistent","type":"ai_tool","index":0}]]},"Update row(s) in Data table":{"ai_tool":[[{"node":"Finance assistent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"AvhjGJdACMdnvIEn"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c71a491-9fec-4e03-afec-a61dd41f8cc6","triggerCount":1,"shared":[{"createdAt":"2025-07-29T16:36:07.607Z","updatedAt":"2025-07-29T16:36:07.607Z","role":"workflow:owner","workflowId":"efllgWgkQ1EbMi9v","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[{"createdAt":"2025-10-06T05:05:37.121Z","updatedAt":"2025-10-06T05:05:37.121Z","id":"Xp9ppupv5ftjKZ28","name":"Agents"}]}