homelab-cli-agent-5SMUj52V8JVFXGEf.json
{"createdAt":"2025-10-06T05:33:28.534Z","updatedAt":"2025-10-06T09:56:30.000Z","id":"5SMUj52V8JVFXGEf","name":"Homelab CLI agent","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"chatid"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-112,-48],"id":"b5ee2cc1-bb97-4e23-aaaa-b5bfa0751e06","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[176,0],"id":"1f8c78cf-14aa-4188-b574-94e77029649b","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[48,208],"id":"92d1dec3-e2bc-458a-9eb9-b7a9e4a90196","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LPqCX4YBuBetFhd2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chatid }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,208],"id":"9eab0d5b-7513-4dc6-91d5-5e31396f2351","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"105ef2cf-fab0-4714-b039-e1c16b1f8183","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,0],"id":"de8fb4ab-7704-4b3a-a5fd-8f5434aedda5","name":"Edit Fields"},{"parameters":{"description":"call this tool to use homelab cli","workflowId":{"__rl":true,"value":"DblYrk0azkxZdLCx","mode":"list","cachedResultUrl":"/workflow/DblYrk0azkxZdLCx","cachedResultName":"HomeLab CLI"},"workflowInputs":{"mappingMode":"defineBelow","value":{"command":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"},"matchingColumns":["command"],"schema":[{"id":"command","displayName":"command","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[336,208],"id":"c19dcb31-90fa-4929-b153-5318a55ac375","name":"Call 'HomeLab CLI'"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Call 'HomeLab CLI'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ddfd6b1a-586a-472e-a5e0-55e2f76e3d5d","triggerCount":0,"shared":[{"createdAt":"2025-10-06T05:33:28.540Z","updatedAt":"2025-10-06T05:33:28.540Z","role":"workflow:owner","workflowId":"5SMUj52V8JVFXGEf","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[]}