homelab-it-agent-7ITq4YArmaV9dGTX.json
{"createdAt":"2025-10-09T15:32:09.113Z","updatedAt":"2025-10-09T16:02:57.000Z","id":"7ITq4YArmaV9dGTX","name":"Homelab IT Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"descriptionType":"manual","toolDescription":"Insert row in Data table for homelab related things","dataTableId":{"__rl":true,"value":"ikuRqUukZzbYdCtc","mode":"list","cachedResultName":"Homelab IPs","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/ikuRqUukZzbYdCtc"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}","ip_address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ip_address', ``, 'string') }}","port":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('port', ``, 'string') }}","access_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('access_url', ``, 'string') }}","container_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('container_name', ``, 'string') }}","image_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_name', ``, 'string') }}","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ip_address","displayName":"ip_address","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"port","displayName":"port","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"access_url","displayName":"access_url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"container_name","displayName":"container_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"image_name","displayName":"image_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-512,-32],"id":"e857eaad-a9be-4ebe-8e37-a9103fa1cfb0","name":"Insert row in Homelab Data"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ikuRqUukZzbYdCtc","mode":"list","cachedResultName":"Homelab","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/ikuRqUukZzbYdCtc"},"filters":{"conditions":[{"keyName":"name","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}","ip_address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ip_address', ``, 'string') }}","port":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('port', ``, 'string') }}","access_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('access_url', ``, 'string') }}","container_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('container_name', ``, 'string') }}","image_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_name', ``, 'string') }}","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ip_address","displayName":"ip_address","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"port","displayName":"port","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"access_url","displayName":"access_url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"container_name","displayName":"container_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"image_name","displayName":"image_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-384,-32],"id":"16b2d64e-f364-4417-8482-9b97d5f41368","name":"Update row(s) in Homelab data"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"ikuRqUukZzbYdCtc","mode":"list","cachedResultName":"Homelab","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/ikuRqUukZzbYdCtc"},"filters":{"conditions":[{"keyName":"name","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}","ip_address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ip_address', ``, 'string') }}","port":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('port', ``, 'string') }}","access_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('access_url', ``, 'string') }}","container_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('container_name', ``, 'string') }}","image_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_name', ``, 'string') }}","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ip_address","displayName":"ip_address","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"port","displayName":"port","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"access_url","displayName":"access_url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"container_name","displayName":"container_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"image_name","displayName":"image_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-256,-32],"id":"f14726b6-88f6-4dec-bd88-e587bf1bb5ce","name":"Upsert row(s) in Data table"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"ikuRqUukZzbYdCtc","mode":"list","cachedResultName":"Homelab IPs","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/ikuRqUukZzbYdCtc"},"filters":{"conditions":[{"keyName":"name","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-128,-32],"id":"bf4db90e-8ce4-47c4-8bd4-3256f9ff4ba4","name":"Get specific row(s) in Homelab data"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"ikuRqUukZzbYdCtc","mode":"list","cachedResultName":"Homelab","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/ikuRqUukZzbYdCtc"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[0,-32],"id":"e4152eb9-037b-4156-bd95-4d86d15aa296","name":"Get all row(s) in Homelab database"},{"parameters":{"inputSource":"passthrough"},"id":"d473e1c3-4344-4997-b2dc-5dbc1b7a2f9a","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-800,-256]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","hasOutputParser":true,"options":{"systemMessage":"=# 🖥️ Homelab IT Agent\nKamu adalah **Homelab IT Agent**, asisten teknis yang bertugas mengelola server dan data homelab user.\n\n### Tool yang Bisa Digunakan\n1. **Homelab Database Tool** — untuk melihat, memperbarui, dan menambah data server/container (nama, IP, port, URL, image, kategori).\n2. **Homelab CLI** — untuk menjalankan perintah terminal di server (via SSH).\n\n### Aturan\n- Semua perintah CLI berisiko → **minta approval user dulu** sebelum menjalankannya.\n- Untuk membaca data server (misalnya daftar container, IP, atau kategori), boleh langsung jalankan.\n- Pastikan output CLI disajikan dengan format rapi dan mudah dibaca.\n\n### Output JSON\n```json\n{\n  \"needApproval\": true/false,\n  \"message\": \"hasil atau pesan ke user\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-400,-256],"id":"8cedffa2-2abc-486c-9e9c-aac7fab1793a","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-768,-32],"id":"1283e616-4ecf-4629-b517-20f905f2799b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lfN5mO8DukhyYt64","name":"Google Gemini(PaLM) Api bintang.23@mhs.usk.ac.id"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-640,-32],"id":"bb56059a-b8dc-4625-ae48-c636dc38a11e","name":"Simple Memory"},{"parameters":{"description":"call this tool to use Homelab/server cli","workflowId":{"__rl":true,"value":"DblYrk0azkxZdLCx","mode":"list","cachedResultUrl":"/workflow/DblYrk0azkxZdLCx","cachedResultName":"HomeLab CLI"},"workflowInputs":{"mappingMode":"defineBelow","value":{"command":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"command","displayName":"command","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[128,-32],"id":"90d57566-4d13-4f3a-82c2-f0ee11f6be0e","name":"Call 'HomeLab CLI'"},{"parameters":{"assignments":{"assignments":[{"id":"01338fe4-26c3-4aa9-bd0f-5426904de199","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-256],"id":"0e4f77c7-31e5-4118-93dd-1730944a99a3","name":"Edit Fields"},{"parameters":{"jsonSchemaExample":"{\n\t\"needApproval\": \"true/false\",\n\t\"message\": \"your massage\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-96,96],"id":"ca23a46f-21f1-48ce-af48-0ad688be6e35","name":"Structured Output Parser"}],"connections":{"Insert row in Homelab Data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update row(s) in Homelab data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Upsert row(s) in Data table":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get specific row(s) in Homelab data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get all row(s) in Homelab database":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call 'HomeLab CLI'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7d2e366b-9ce7-4d94-88f0-b01e038817ed","triggerCount":0,"shared":[{"createdAt":"2025-10-09T15:32:09.119Z","updatedAt":"2025-10-09T15:32:09.119Z","role":"workflow:owner","workflowId":"7ITq4YArmaV9dGTX","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[]}