homelab-mlARU7JA0uMUNCeu.json
{"updatedAt":"2026-05-12T12:51:42.005Z","createdAt":"2026-05-12T12:45:59.814Z","id":"mlARU7JA0uMUNCeu","name":"HomeLab","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,96],"id":"3a3ce204-dc48-4372-9575-1578da7093ea","name":"Schedule Trigger"},{"parameters":{"authentication":"webhook","content":"={{ $json.message }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[944,96],"id":"b90830c9-3e22-463a-b046-cd8804094b7f","name":"Discord","webhookId":"e77127a2-4c0d-4222-8dfc-7e5429c03e5b","credentials":{"discordWebhookApi":{"id":"5TSz1fTb1yQHXwaY","name":"n8n server"}}},{"parameters":{"jsCode":"const output = $('update system').first().json.stdout\nlet message = \"\";\nlet status = \"✅\";\nconst logSnippet = output.slice(-1000);\nconst userId = \"664803448629493816\"; // Ganti dengan user Discord yang ingin ditag\nconst mention = `<@${userId}>`;\n\nif (output.toLowerCase().includes(\"error\") || output.toLowerCase().includes(\"failed\")) {\n  status = \"❌\";\n  message = `\\`\\`\\`\\n${logSnippet}\\n\\`\\`\\`\\n❌ Update failed!\\n${mention}`;\n} else if (output.toLowerCase().includes(\"a reboot is required\")) {\n  status = \"🔄\";\n  message = `\\`\\`\\`\\n${logSnippet}\\n\\`\\`\\`\\n🔄 Update completed but reboot is required.\\n${mention}`;\n} else {\n  status = \"✅\";\n  message = `\\`\\`\\`\\n${logSnippet}\\n\\`\\`\\`\\n✅ System updated successfully!`;\n}\n\nreturn [{\n  json: {\n    status,\n    message\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,96],"id":"23da27bb-e451-49dd-8b35-889832b37161","name":"Code"},{"parameters":{"authentication":"webhook","content":"={{ $json.content }}\n-----------------------------------------","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[944,320],"id":"cd86d97a-7f43-44b7-83da-676664693848","name":"Discord1","webhookId":"8b2ed5c9-d278-4f0f-8c37-ec7f632b9e86","credentials":{"discordWebhookApi":{"id":"5TSz1fTb1yQHXwaY","name":"Discord Webhook account"}},"disabled":true},{"parameters":{"jsCode":"const rawLog = $input.first().json.stdout;  // log input dari node sebelumnya\n\nconst updatedImages = [];\nconst failedImages = [];\n\nconst lines = rawLog.split(\"\\n\");\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].trim();\n\n  // Cek baris \"Pulling image\"\n  if (line.startsWith(\"[*] Pulling image:\")) {\n    const image = line.replace(\"[*] Pulling image: \", \"\").trim();\n    const statusLine = lines[i + 3] || \"\";  // Baris ke-3 setelah ini biasanya status\n    const errorLine = lines[i + 1] || \"\";   // Jika error, muncul setelah ini\n\n    if (statusLine.includes(\"Image is up to date\")) {\n      // Lewatkan (tidak perlu dicatat)\n    } else if (errorLine.includes(\"Error response from daemon\")) {\n      failedImages.push(`${image} ❌`);\n    } else {\n      updatedImages.push(`${image} ✅`);\n    }\n  }\n}\n\n// Format pesan\nconst startedAt = rawLog.match(/Started at (.+?) ===/i)?.[1] || \"Unknown\";\nconst completedAt = rawLog.match(/Completed at (.+?) ===/i)?.[1] || \"Unknown\";\n\nlet message = `🛠️ **Docker Auto Update Summary**\\n\\n`;\nmessage += `🕓 **Started**: ${startedAt}\\n✅ **Completed**: ${completedAt}\\n\\n`;\n\nif (updatedImages.length > 0) {\n  message += `🔄 **Updated Images:**\\n${updatedImages.map(i => `• ${i}`).join(\"\\n\")}\\n\\n`;\n}\n\nif (failedImages.length > 0) {\n  message += `❗ **Failed Pulls:**\\n${failedImages.map(i => `• ${i}`).join(\"\\n\")}\\n\\n`;\n}\n\nif (updatedImages.length === 0 && failedImages.length === 0) {\n  message += `📦 All containers already up to date.\\n`;\n}\n\nreturn [\n  {\n    json: {\n      content: message  // Output ke Discord node\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,320],"id":"febfead7-8bc1-4430-98bb-080a8d3d92d7","name":"Code1","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,320],"id":"4576a847-01cf-47d1-a18f-bfdffc4fff76","name":"Schedule Trigger1","disabled":true},{"parameters":{"command":"sudo nala update && sudo nala full-upgrade -y"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[496,96],"id":"03f12906-1b79-4238-822a-2fdf8acaf085","name":"update system","credentials":{"sshPassword":{"id":"N1m1tTJEIrNETZuL","name":"SSH Password account"}}},{"parameters":{"command":"sudo ./autoupdate.sh","cwd":"/home/n8nbot/dockerUpdate"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[496,320],"id":"4306cfba-5e46-4c77-a06e-f8abe4079c64","name":"update docker","credentials":{"sshPassword":{"id":"N1m1tTJEIrNETZuL","name":"SSH Password account"}},"disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"update system","type":"main","index":0}]]},"Code":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"update docker","type":"main","index":0}]]},"update system":{"main":[[{"node":"Code","type":"main","index":0}]]},"update docker":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"PWFdEg6jEbv43mqe","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"15c05d30-9050-44e4-9085-ff6f0e904019","activeVersionId":"15c05d30-9050-44e4-9085-ff6f0e904019","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T12:45:59.817Z","createdAt":"2026-05-12T12:45:59.817Z","role":"workflow:owner","workflowId":"mlARU7JA0uMUNCeu","projectId":"UoStXPqNC0kdV8zl"}],"activeVersion":{"updatedAt":"2026-05-12T12:51:10.000Z","createdAt":"2026-05-12T12:49:47.170Z","versionId":"15c05d30-9050-44e4-9085-ff6f0e904019","workflowId":"mlARU7JA0uMUNCeu","nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,96],"id":"3a3ce204-dc48-4372-9575-1578da7093ea","name":"Schedule Trigger"},{"parameters":{"authentication":"webhook","content":"={{ $json.message }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[944,96],"id":"b90830c9-3e22-463a-b046-cd8804094b7f","name":"Discord","webhookId":"e77127a2-4c0d-4222-8dfc-7e5429c03e5b","credentials":{"discordWebhookApi":{"id":"5TSz1fTb1yQHXwaY","name":"n8n server"}}},{"parameters":{"jsCode":"const output = $('update system').first().json.stdout\nlet message = \"\";\nlet status = \"✅\";\nconst logSnippet = output.slice(-1000);\nconst userId = \"664803448629493816\"; // Ganti dengan user Discord yang ingin ditag\nconst mention = `<@${userId}>`;\n\nif (output.toLowerCase().includes(\"error\") || output.toLowerCase().includes(\"failed\")) {\n  status = \"❌\";\n  message = `\\`\\`\\`\\n${logSnippet}\\n\\`\\`\\`\\n❌ Update failed!\\n${mention}`;\n} else if (output.toLowerCase().includes(\"a reboot is required\")) {\n  status = \"🔄\";\n  message = `\\`\\`\\`\\n${logSnippet}\\n\\`\\`\\`\\n🔄 Update completed but reboot is required.\\n${mention}`;\n} else {\n  status = \"✅\";\n  message = `\\`\\`\\`\\n${logSnippet}\\n\\`\\`\\`\\n✅ System updated successfully!`;\n}\n\nreturn [{\n  json: {\n    status,\n    message\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,96],"id":"23da27bb-e451-49dd-8b35-889832b37161","name":"Code"},{"parameters":{"authentication":"webhook","content":"={{ $json.content }}\n-----------------------------------------","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[944,320],"id":"cd86d97a-7f43-44b7-83da-676664693848","name":"Discord1","webhookId":"8b2ed5c9-d278-4f0f-8c37-ec7f632b9e86","credentials":{"discordWebhookApi":{"id":"5TSz1fTb1yQHXwaY","name":"Discord Webhook account"}},"disabled":true},{"parameters":{"jsCode":"const rawLog = $input.first().json.stdout;  // log input dari node sebelumnya\n\nconst updatedImages = [];\nconst failedImages = [];\n\nconst lines = rawLog.split(\"\\n\");\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].trim();\n\n  // Cek baris \"Pulling image\"\n  if (line.startsWith(\"[*] Pulling image:\")) {\n    const image = line.replace(\"[*] Pulling image: \", \"\").trim();\n    const statusLine = lines[i + 3] || \"\";  // Baris ke-3 setelah ini biasanya status\n    const errorLine = lines[i + 1] || \"\";   // Jika error, muncul setelah ini\n\n    if (statusLine.includes(\"Image is up to date\")) {\n      // Lewatkan (tidak perlu dicatat)\n    } else if (errorLine.includes(\"Error response from daemon\")) {\n      failedImages.push(`${image} ❌`);\n    } else {\n      updatedImages.push(`${image} ✅`);\n    }\n  }\n}\n\n// Format pesan\nconst startedAt = rawLog.match(/Started at (.+?) ===/i)?.[1] || \"Unknown\";\nconst completedAt = rawLog.match(/Completed at (.+?) ===/i)?.[1] || \"Unknown\";\n\nlet message = `🛠️ **Docker Auto Update Summary**\\n\\n`;\nmessage += `🕓 **Started**: ${startedAt}\\n✅ **Completed**: ${completedAt}\\n\\n`;\n\nif (updatedImages.length > 0) {\n  message += `🔄 **Updated Images:**\\n${updatedImages.map(i => `• ${i}`).join(\"\\n\")}\\n\\n`;\n}\n\nif (failedImages.length > 0) {\n  message += `❗ **Failed Pulls:**\\n${failedImages.map(i => `• ${i}`).join(\"\\n\")}\\n\\n`;\n}\n\nif (updatedImages.length === 0 && failedImages.length === 0) {\n  message += `📦 All containers already up to date.\\n`;\n}\n\nreturn [\n  {\n    json: {\n      content: message  // Output ke Discord node\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,320],"id":"febfead7-8bc1-4430-98bb-080a8d3d92d7","name":"Code1","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,320],"id":"4576a847-01cf-47d1-a18f-bfdffc4fff76","name":"Schedule Trigger1","disabled":true},{"parameters":{"command":"sudo nala update && sudo nala full-upgrade -y"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[496,96],"id":"03f12906-1b79-4238-822a-2fdf8acaf085","name":"update system","credentials":{"sshPassword":{"id":"N1m1tTJEIrNETZuL","name":"SSH Password account"}}},{"parameters":{"command":"sudo ./autoupdate.sh","cwd":"/home/n8nbot/dockerUpdate"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[496,320],"id":"4306cfba-5e46-4c77-a06e-f8abe4079c64","name":"update docker","credentials":{"sshPassword":{"id":"N1m1tTJEIrNETZuL","name":"SSH Password account"}},"disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"update system","type":"main","index":0}]]},"Code":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"update docker","type":"main","index":0}]]},"update system":{"main":[[{"node":"Code","type":"main","index":0}]]},"update docker":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Muhammad Bintang Panji Kusuma","name":"Version 15c05d30","description":"","autosaved":true},"tags":[]}