my-workflow-XGFsK262EvD6Q3ob.json
{"createdAt":"2025-07-30T01:59:01.926Z","updatedAt":"2025-09-30T16:02:33.000Z","id":"XGFsK262EvD6Q3ob","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[192,48],"id":"a7b1dadf-6c23-4f1e-9808-2e1a3cf6125a","name":"When chat message received","webhookId":"2a15d5b4-6f6d-493c-acdf-ed9c708f8df6"},{"parameters":{"messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","message":"={{ $json.chatInput }}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[432,48],"id":"afa5b5d9-42dd-4d27-af11-574d7c05fe10","name":"Basic LLM Chain"},{"parameters":{"model":"meta-llama/llama-3.3-70b-instruct:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[400,240],"id":"141bdacf-81c9-476b-9abb-4933cfe60e36","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"U2bPb9hvwujPR1p0","name":"OpenRouter account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When chat message received":[{"json":{"sessionId":"271b39df32dc43d784c9ab51c778023e","action":"sendMessage","chatInput":"hi"}}]},"versionId":"bf3f1bf6-d81a-456a-ab10-cb0b181c3b47","triggerCount":0,"shared":[{"createdAt":"2025-07-30T01:59:01.929Z","updatedAt":"2025-07-30T01:59:01.929Z","role":"workflow:owner","workflowId":"XGFsK262EvD6Q3ob","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[]}