ta-3eTYDaiqOiFqwP6G.json
{"updatedAt":"2026-04-18T04:57:05.978Z","createdAt":"2026-04-18T04:56:50.279Z","id":"3eTYDaiqOiFqwP6G","name":"TA","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"10e4c630-6bce-4038-8777-916fba8bdc28","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-656,272],"id":"32e0664a-3c90-45e5-8472-61e9ad4375c9","name":"Webhook","webhookId":"10e4c630-6bce-4038-8777-916fba8bdc28"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.type }}","rightValue":"attacker-session","operator":{"type":"string","operation":"equals"},"id":"5eee27fb-395e-4528-a930-dc591aa335de"}],"combinator":"and"},"renameOutput":true,"outputKey":"Attacker Session"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"69852c71-48a5-41c9-8622-41667f97cef1","leftValue":"={{ $json.body.type }}","rightValue":"attacker-behavior","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Attacker Behavior"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-448,272],"id":"530eb4c7-739e-4c99-b077-c1408eea07ec","name":"Switch"},{"parameters":{"promptType":"define","text":"={{ $json.body }}","hasOutputParser":true,"options":{"systemMessage":"=# Attacker Session Analyzer - System Prompt\n\n## Role\nYou are the *Attacker Session Security Analyst AI*, tasked with analyzing attacker sessions captured by the Cowrie honeypot. Your job is to interpret attacker behavior, determine their intent, identify dangerous actions, and produce a structured threat assessment.\n\n## Input Format\nYou will receive JSON with structure:\n\n```\n{\n  \"type\": \"attacker-session\",\n  \"ip\": \"172.x.x.x\",\n  \"session_id\": \"string\",\n  \"start_time\": \"ISO timestamp\",\n  \"end_time\": \"ISO timestamp\",\n  \"command_count\": number,\n  \"commands\": [\n      {\n        \"timestamp\": \"...\",\n        \"eventid\": \"cowrie.command.input\",\n        \"input\": \"string\",\n        ...\n      }\n  ]\n}\n```\n\n## Objectives\n1. **Analyze attacker intent**  \n   Example categories:\n   - reconnaissance  \n   - destructive actions  \n   - privilege escalation  \n   - persistence  \n   - malware installation  \n   - exfiltration  \n   - command probing / trial & error  \n   - automated scanner behavior\n\n2. **Describe attacker behavior clearly**, including:\n   - what they tried to do  \n   - why they executed certain commands  \n   - whether the sequence suggests manual or automated actions\n\n3. **Identify dangerous commands**, for example:\n   - `rm -rf /` or `rm -rf boot` → destructive  \n   - `wget` / `curl` external links → potential malware download  \n   - `chmod +x` → preparing executable  \n   - `useradd`, `passwd` → persistence  \n   - `uname -a`, `ls`, `cat /etc/*` → reconnaissance\n\n4. **Assess threat level**, using this scale:\n\n### Threat Levels\n| Level | Description |\n|-------|-------------|\n| **Informational** | Harmless inspection like `ls`, `pwd`, simple exploration |\n| **Low** | Reconnaissance without dangerous actions |\n| **Medium** | Suspicious patterns, directory probing, partial system manipulation |\n| **High** | Dangerous commands, attempts to modify system state, download files |\n| **Critical** | Active destruction, malware deployment, privilege escalation, persistence creation |\n\n5. **Produce human-readable reasoning**, not only listing logs.\n\n6. **Produce a final structured JSON output.**\n\n## Output Format\nYou must reply using **this exact structured JSON**:\n\n```\n{\n  \"session_summary\": \"Narrative explanation of what attacker attempted to do.\",\n\n  \"attacker_intent\": \"One of: reconnaissance | destructive | malware installation | persistence | privilege escalation | exfiltration | mixed | unknown\",\n\n  \"suspicious_commands\": [\n      {\"cmd\": \"rm -rf /\", \"reason\": \"Destructive filesystem wipe\"},\n      {\"cmd\": \"wget http://malicious\", \"reason\": \"Possible malware download\"}\n  ],\n\n  \"behavior_analysis\": \"Explain whether attacker looks skilled, automated, random, or targeted.\",\n\n  \"threat_level\": \"Informational | Low | Medium | High | Critical\",\n\n  \"timeline\": [\n      {\"timestamp\": \"...\", \"action\": \"Attacker logged in\"},\n      {\"timestamp\": \"...\", \"action\": \"Executed ls\"},\n      {\"timestamp\": \"...\", \"action\": \"Executed rm -rf /\"}\n  ],\n\n  \"recommendations\": [\n      \"Block IP address\",\n      \"Analyze downloaded artifacts if any\",\n      \"Add stricter SSH rate limits\",\n      \"Apply additional honeypot deception techniques\"\n  ]\n}\n```\n\n## Additional Notes\n- Provide deep analysis, not surface-level summary.\n- Evaluate intent even if commands fail (because Cowrie is a honeypot).\n- Be precise with threat classification."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,0],"id":"9738589e-66b2-4bd3-b132-7a7d1fe823d2","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-128,208],"id":"35aee4a3-9158-44a4-a335-2247928a65a6","name":"Google Gemini Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.session_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[32,208],"id":"e2f26177-bac9-48d9-8d2d-e373131ce69f","name":"Simple Memory"},{"parameters":{"authentication":"webhook","content":"={{ $json.content }}{{ $json.message }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[656,192],"id":"e4ea382a-255b-43ef-9bc6-0bb2cb25415d","name":"Discord","webhookId":"95cf9361-7088-4450-98b7-440e2b69a15d"},{"parameters":{"jsonSchemaExample":"{\n  \"session_id\": \"string\",\n  \"ip\": \"string\",\n  \"start_time\": \"HH:MM:SS\",\n  \"end_time\": \"HH:MM:SS\",\n\n  \"session_summary\": \"string\",\n\n  \"attacker_intent\": \"string\",\n\n  \"suspicious_commands\": [\n      {\"cmd\": \"string\", \"reason\": \"string\"}\n  ],\n\n  \"behavior_analysis\": \"string\",\n\n  \"threat_level\": \"Informational | Low | Medium | High | Critical\",\n\n  \"timeline\": [\n      {\"time\": \"HH:MM:SS\", \"action\": \"string\"}\n  ],\n\n  \"recommendations\": [\"string\", \"string\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[176,208],"id":"e0768016-315d-4237-b34d-cea41deaaf37","name":"Structured Output Parser"},{"parameters":{"jsCode":"const data = $input.first().json.output;\n\n// Safeguard\nconst safe = v => (v === undefined || v === null ? \"unknown\" : v);\n\n// Format time to HH:MM:SS\nconst fixTime = (t) => {\n  if (!t) return \"unknown\";\n  if (t.length === 8) return t;\n  const d = new Date(t);\n  if (isNaN(d)) return t;\n  return d.toISOString().substring(11,19);\n};\n\n// List formatter\nconst list = (arr, fmt) => {\n  if (!arr || arr.length === 0) return \"(none)\";\n  return arr.map(fmt).join(\"\\n\");\n};\n\n// Build final report text (NO EMBED)\nlet message =\n`🚨 **Honeypot Attacker Session Report**\n────────────────────────────────────\n\n**🆔 Session ID:** \\`${safe(data.session_id)}\\`\n**🌐 IP:** \\`${safe(data.ip)}\\`\n**⏳ Duration:** ${fixTime(data.start_time)} ➝ ${fixTime(data.end_time)}\n**💥 Threat Level:** ${safe(data.threat_level)}\n\n### 📝 Session Summary\n${safe(data.session_summary)}\n\n### 🎯 Attacker Intent\n**${safe(data.attacker_intent)}**\n\n### ⚠️ Suspicious Commands\n${list(data.suspicious_commands, (c, i) => `**${i+1}.** \\`${c.cmd}\\` — ${c.reason}`)}\n\n### 👀 Behavior Analysis\n${safe(data.behavior_analysis)}\n\n### 🕒 Timeline\n${list(data.timeline, (t, i) => `**${i+1}.** \\`${fixTime(t.time)}\\`\\n➡️ ${t.action}`)}\n\n### 🛡️ Recommendations\n${list(data.recommendations, (r, i) => `**${i+1}.** ${r}`)}`;\n\n\n// ========== DISCORD HARD LIMIT FIX ==========\nconst MAX = 1800;\nlet chunks = [];\n\nwhile (message.length > MAX) {\n  chunks.push(message.slice(0, MAX));\n  message = message.slice(MAX);\n}\nchunks.push(message);\n\nreturn chunks.map(c => ({\n  json: { content: c }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,0],"id":"df258373-6377-42cb-a9c4-5b17f3a91ac7","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"={{ $json.body }}","hasOutputParser":true,"options":{"systemMessage":"=# Attacker Behavior Analyzer — System Prompt (Final v1)\n\n## ROLE\nYou are the **Attacker Behavior Security Analyst AI**, responsible for analyzing malicious activities *before* an attacker successfully logs into the Cowrie honeypot. This includes:  \n- brute‑force attempts  \n- credential‑stuffing  \n- dictionary attacks  \n- botnet SSH scanning  \n- high‑frequency failed logins  \n- DDoS‑like connection storms  \n- reconnaissance attempts  \n\nYour job is to analyze the attacker's behavior, classify the attack type, identify patterns, and assess the threat level.\n\n---\n\n## INPUT FORMAT (Always Provided)\n\n```\n{\n  \"type\": \"attacker-behavior\",\n  \"ip\": \"string\",\n  \"behavior_window_start\": \"ISO timestamp\",\n  \"behavior_window_end\": \"ISO timestamp\",\n  \"attempt_count\": number,\n  \"unique_usernames\": [\"root\", \"admin\", ...],\n  \"unique_passwords\": [\"123456\", ...],\n  \"events\": [\n    {\n      \"timestamp\": \"ISO timestamp\",\n      \"eventid\": \"cowrie.login.failed | cowrie.login.attempt | cowrie.connection.failed | cowrie.client.version\",\n      \"username\": \"string\",\n      \"password\": \"string\",\n      \"message\": \"string\"\n    }\n  ]\n}\n```\n\n---\n\n## OBJECTIVES\n\nYou must determine:\n\n### 1. **Attack Type**\nChoose the most appropriate classification:\n- bruteforce  \n- dictionary  \n- credential stuffing  \n- botnet  \n- scanning  \n- ddos  \n- mixed  \n- unknown  \n\n### 2. **Behavior Summary**\nClear explanation of what the attacker is attempting, based on patterns such as:\n- rapid login failures  \n- repeated username/password cycling  \n- botnet signatures  \n- predictable dictionary use  \n- slow/fast attack pace  \n\n### 3. **Attacker Profile**\nIdentify:\n- automation level (manual / automated / botnet / unknown)  \n- attack speed (slow / moderate / fast / extreme)  \n- username & password patterns  \n\n### 4. **Threat Level**\nUse the following classification:\n\n| Level | Description |\n|-------|-------------|\n| **Informational** | harmless noise, accidental hits, scanners |\n| **Low** | low-volume bruteforce or random botnet probing |\n| **Medium** | consistent bruteforce or dictionary attack |\n| **High** | credential stuffing or targeted attack |\n| **Critical** | aggressive bruteforce, DDoS pattern, botnet propagation |\n\n### 5. **Timeline**\nSummaries of key behavior converted into `HH:MM:SS` format.\n\n### 6. **Indicators**\nImportant flags for detection, e.g.:\n- repeated password cycling  \n- botnet login signature  \n- extreme connection rate  \n- failure storm pattern  \n\n### 7. **Recommendations**\nActionable security actions.\n\n---\n\n## OUTPUT FORMAT (REQUIRED)\n\nYou must return **valid JSON** in the following format:\n\n```\n{\n  \"ip\": \"string\",\n\n  \"attack_type\": \"bruteforce | dictionary | credential stuffing | ddos | scanning | botnet | mixed | unknown\",\n\n  \"behavior_summary\": \"Detailed explanation of observed attack behavior.\",\n\n  \"attacker_profile\": {\n    \"automation\": \"manual | automated | botnet | unknown\",\n    \"speed\": \"slow | moderate | fast | extreme\",\n    \"username_pattern\": \"string\",\n    \"password_pattern\": \"string\"\n  },\n\n  \"threat_level\": \"Informational | Low | Medium | High | Critical\",\n\n  \"timeline\": [\n    {\n      \"time\": \"HH:MM:SS\",\n      \"event\": \"string\"\n    }\n  ],\n\n  \"indicators\": [\n    \"string\",\n    \"string\"\n  ],\n\n  \"recommendations\": [\n    \"string\",\n    \"string\"\n  ]\n}\n```\n\n---\n\n## RULES\n\n- **Convert all timestamps into `HH:MM:SS`.**\n- **Never return undefined, null, or empty fields.**\n- If a field is missing → use `\"unknown\"`.\n- Provide deep behavior analysis, not surface summary.\n- Extract attacker intent and automation patterns from timing, username variety, password variety, and frequency.\n- Do NOT describe Cowrie internals — focus only on attacker behavior.\n\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[0,352],"id":"beb698c2-529e-4e11-9e87-2db2dbb51acc","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-128,576],"id":"4a2985bb-d36a-46b0-8eef-eaf687fde37b","name":"Google Gemini Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.logs[0].session }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[16,576],"id":"6c466d19-d602-4c58-80cd-98f5e92cd0a4","name":"Simple Memory1"},{"parameters":{"jsonSchemaExample":"{\n\"ip\": \"string\",\n\n\"attack_type\": \"bruteforce | dictionary | credential stuffing | ddos | scanning | botnet | mixed | unknown\",\n\n\"behavior_summary\": \"Detailed explanation of observed attack behavior.\",\n\n\"attacker_profile\": {\n\"automation\": \"manual | automated | botnet | unknown\",\n\"speed\": \"slow | moderate | fast | extreme\",\n\"username_pattern\": \"string\",\n\"password_pattern\": \"string\"\n},\n\n\"threat_level\": \"Informational | Low | Medium | High | Critical\",\n\n\"timeline\": [\n{\n\"time\": \"HH:MM:SS\",\n\"event\": \"string\"\n}\n],\n\n\"indicators\": [\n\"string\",\n\"string\"\n],\n\n\"recommendations\": [\n\"string\",\n\"string\"\n]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[176,576],"id":"1b0a9f70-2b65-4a9b-8b1f-ac1694bd68c9","name":"Structured Output Parser1"},{"parameters":{"jsCode":"const data = $input.first().json.output;\n\n// Helper untuk value aman\nfunction clean(v, fallback = \"(unknown)\") {\n    if (v === undefined || v === null) return fallback;\n    if (typeof v === \"string\" && v.trim() === \"-\") return fallback;\n    if (typeof v === \"string\" && v.trim() === \"\") return fallback;\n    return v;\n}\n\n// Format list\nfunction formatList(arr) {\n    if (!Array.isArray(arr)) return \"-\";\n    return arr.map((x, i) => `**${i + 1}.** ${x}`).join(\"\\n\");\n}\n\n// Format timeline\nfunction formatTimeline(arr) {\n    if (!Array.isArray(arr)) return \"-\";\n    return arr\n        .map((x, i) => {\n            const t = clean(x.time, \"(no time)\");\n            const e = clean(x.event, \"(no event)\");\n            return `**${i + 1}.** \\`${t}\\`\\n➡️ ${e}`;\n        })\n        .join(\"\\n\\n\");\n}\n\n// Extract attacker profile safely\nconst profile = data.attacker_profile || {};\n\nconst message =\n`🚨 **Attacker Behavior Analysis Report**\n────────────────────────────────────\n\n### 🌐 IP Address\n\\`${clean(data.ip)}\\`\n\n### 🎯 Attack Type\n**${clean(data.attack_type)}**\n\n### 💥 Threat Level\n**${clean(data.threat_level).toUpperCase()}**\n\n## 🧠 Behavior Summary\n${clean(data.behavior_summary)}\n\n## 🧬 Attacker Profile\n- **Automation:** ${clean(profile.automation)}\n- **Speed:** ${clean(profile.speed)}\n- **Username Pattern:** ${clean(profile.username_pattern)}\n- **Password Pattern:** ${clean(profile.password_pattern)}\n\n## 🕒 Timeline\n${formatTimeline(data.timeline)}\n\n## 🔍 Indicators\n${formatList(data.indicators)}\n\n## 🛡️ Recommendations\n${formatList(data.recommendations)}`;\n\nreturn [{ json: { message } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,352],"id":"28637ee7-a617-43cb-b657-1705c71d183f","name":"Code in JavaScript1"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Discord","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.samvivan.my.id","user-agent":"python-requests/2.31.0","content-length":"1080","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"182.10.225.91","cf-ipcountry":"ID","cf-ray":"9a6b92ba4bcafd64-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"3a760ab8-27c9-4633-b229-d0789df24c2b","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"182.10.225.91","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"type":"attacker-behavior","behavior":"bruteforce-attempt","count":3,"logs":[{"eventid":"cowrie.login.failed","username":"admin","password":"asdf","message":"login attempt [admin/asdf] failed","sensor":"f1f579776b5c","uuid":"dafa3092-c780-11f0-901d-c2c7fa469b2b","timestamp":"2025-11-30T16:02:47.445412Z","src_ip":"192.168.0.107","session":"aecd026c6e1f","protocol":"ssh"},{"eventid":"cowrie.login.failed","username":"admin","password":"qwerw","message":"login attempt [admin/qwerw] failed","sensor":"f1f579776b5c","uuid":"dafa3092-c780-11f0-901d-c2c7fa469b2b","timestamp":"2025-11-30T16:02:49.950129Z","src_ip":"192.168.0.107","session":"aecd026c6e1f","protocol":"ssh"},{"eventid":"cowrie.login.failed","username":"admin","password":"admin","message":"login attempt [admin/admin] failed","sensor":"f1f579776b5c","uuid":"dafa3092-c780-11f0-901d-c2c7fa469b2b","timestamp":"2025-11-30T16:02:52.105067Z","src_ip":"192.168.0.107","session":"aecd026c6e1f","protocol":"ssh"}],"timestamp":"2025-11-30T16:03:08.174263"},"webhookUrl":"https://n8n.samvivan.my.id/webhook-test/10e4c630-6bce-4038-8777-916fba8bdc28","executionMode":"test"}}]},"versionId":"98f041a6-8919-4a7d-97c4-cd8a5bbff26d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-18T04:56:50.282Z","createdAt":"2026-04-18T04:56:50.282Z","role":"workflow:owner","workflowId":"3eTYDaiqOiFqwP6G","projectId":"UoStXPqNC0kdV8zl"}],"activeVersion":null,"tags":[]}