ta-l0jFI8iMRjovFIVd.json
{"updatedAt":"2025-11-22T09:17:48.000Z","createdAt":"2025-11-08T03:20:00.410Z","id":"l0jFI8iMRjovFIVd","name":"TA","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"10e4c630-6bce-4038-8777-916fba8bdc28","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"2b5ed276-ef18-41bb-9ceb-869ea7b2a8ac","name":"Webhook","webhookId":"10e4c630-6bce-4038-8777-916fba8bdc28"},{"parameters":{"assignments":{"assignments":[{"id":"7e47a069-03a9-475b-b19f-c91eee92521e","name":"body","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,0],"id":"30cf0e73-5670-4235-9db7-f9583f824e99","name":"Edit Fields"},{"parameters":{"dataTableId":{"__rl":true,"value":"Djm3LVnFr6R3Ayw8","mode":"list","cachedResultName":"TA","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/Djm3LVnFr6R3Ayw8"},"columns":{"mappingMode":"defineBelow","value":{"time":"={{ $json.body.timestamp }}","Command":"={{ $json.body.logs[0].input }}","ip_source":"={{ $json.body.logs[0].src_ip }}","protocol":"={{ $json.body.logs[0].protocol }}","EventID":"={{ $json.body.logs[0].eventid }}","SessionID":"={{ $json.body.logs[0].session }}","Source":"={{ $json.body.source }}"},"matchingColumns":["logs"],"schema":[{"id":"time","displayName":"time","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Command","displayName":"Command","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ip_source","displayName":"ip_source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"protocol","displayName":"protocol","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EventID","displayName":"EventID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SessionID","displayName":"SessionID","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[480,0],"id":"d6ce084c-37e4-481f-8c91-47c9ece56282","name":"Insert row"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insert row","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"AvhjGJdACMdnvIEn"},"staticData":null,"meta":null,"pinData":{},"versionId":"78a00468-9f9d-46be-bb73-de3c4da194f4","triggerCount":1,"shared":[{"updatedAt":"2025-11-08T03:20:00.415Z","createdAt":"2025-11-08T03:20:00.415Z","role":"workflow:owner","workflowId":"l0jFI8iMRjovFIVd","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[]}