tabletosheet-ZNDa7QrZC8lU0uQj.json
{"updatedAt":"2025-10-08T09:05:19.000Z","createdAt":"2025-10-08T08:00:10.257Z","id":"ZNDa7QrZC8lU0uQj","name":"tableToSheet","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[320,-16],"id":"faa37bd4-40ff-44c9-bcf4-3a406905bff5","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"49QSFI9nwJItXyvp","mode":"list","cachedResultName":"Financial report","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/49QSFI9nwJItXyvp"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[528,-16],"id":"f45e08b9-11a2-4f61-bca7-c1031ea2f76b","name":"Get row(s)"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1fJxcYCdIfAkoHTinPhN17YFQwHvE7v8zUQGqSwkQ6oQ","mode":"list","cachedResultName":"Catatan Keuangan","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fJxcYCdIfAkoHTinPhN17YFQwHvE7v8zUQGqSwkQ6oQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fJxcYCdIfAkoHTinPhN17YFQwHvE7v8zUQGqSwkQ6oQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Get row(s)').item.json.id }}","Tanggal dan Waktu":"={{ $('Get row(s)').item.json.tanggalTransaksi }}","Jenis Transaksi":"={{ $('Get row(s)').item.json.JenisTransaksi }}","Keterangan":"={{ $('Get row(s)').item.json.Keterangan }}"," Nominal (IDR)":"={{ $('Get row(s)').item.json.nominalIDR }}","Kategori":"={{ $('Get row(s)').item.json.kategori }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tanggal dan Waktu","displayName":"Tanggal dan Waktu","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Jenis Transaksi","displayName":"Jenis Transaksi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keterangan","displayName":"Keterangan","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":" Nominal (IDR)","displayName":" Nominal (IDR)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Kategori","displayName":"Kategori","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,-16],"id":"eb170d32-f2d4-4f43-b366-68fc9f91b161","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"O44o2mQHm5JgZ42J","name":"Personal Finance"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get row(s)","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9bb56bb-de69-407f-8d67-fb2fa4c23e95","triggerCount":0,"shared":[{"updatedAt":"2025-10-08T08:00:10.267Z","createdAt":"2025-10-08T08:00:10.267Z","role":"workflow:owner","workflowId":"ZNDa7QrZC8lU0uQj","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[]}