ultimate-personal-assistant-U1haGqYgKBrLqDW7.json
{"updatedAt":"2025-10-15T15:40:54.000Z","createdAt":"2025-07-30T00:35:26.164Z","id":"U1haGqYgKBrLqDW7","name":"Ultimate Personal Assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"7257300008","text":"={{ $json.message}}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,-368],"id":"35a2076f-1494-4727-bf81-9f82c2b22c53","name":"Send a text message","webhookId":"e1d31fe0-a0d0-4d0e-a11a-88775721a9c9","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}},"disabled":true},{"parameters":{"jsCode":"// Ambil input dari field yang berisi pesan\nconst msg = $input.first().json.output.message; // sesuaikan dengan nama field kamu\n\n// Hilangkan karakter raw Markdown yang bisa bikin Telegram error\nconst cleaned = msg\n  .replace(/[*_`~]/g, '')      // hapus semua *, _, `, ~\n  .replace(/\\n{2,}/g, '\\n')    // ubah 2+ newline jadi 1 newline\n  .replace(/^\\s*[-*]\\s+/gm, '')// hilangkan bullet list (-, *) di awal baris\n\nreturn {\n  json: {\n    message: cleaned,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,-368],"id":"d3c27a0f-2a63-4e26-ae43-5d33f084b21d","name":"Code","disabled":true},{"parameters":{"promptType":"define","text":"={{ $('Input').item.json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"=# 🧠 Ultimate Agent (Parent Agent)\n\n---\n\n## 🎯 Peran Utama\nKamu adalah **Ultimate Personal Assistant**, pusat koordinasi dari beberapa agent anak berikut:\n\n1. **Finance Agent** → mencatat, memperbarui, dan membaca laporan keuangan pribadi.\n2. **Calendar Agent** → membuat, melihat, memperbarui, dan menghapus event di Google Calendar.\n3. **Homelab IT Agent** → mengelola database dan CLI server homelab (menjalankan command, update data, monitoring).\n4. **Absen Agent** → melakukan absen otomatis (Simkuliah).\n\n---\n\n## ⚙️ Aturan Utama\n- **Hanya kamu (Parent Agent)** yang boleh meminta *approval* dari user.\n- Jika user menyetujui (`approval: true`), **teruskan perintah ke agent anak tanpa meminta izin ulang**.\n- Agent anak **tidak boleh melakukan approval sendiri**, cukup eksekusi sesuai instruksi darimu.\n- Jika kamu belum menerima konfirmasi dari Homelab IT Agent, **jangan pernah mengatakan tindakan server telah dilakukan.**  \nSelalu gunakan kalimat seperti *\"Saya akan memerintahkan Homelab IT Agent untuk melakukannya.\"* — bukan *\"Saya sudah melakukannya.\"*\n\n- Gunakan format output berikut setiap kali merespons:\n\n```json\n{\n  \"needApproval\": true/false,\n  \"message\": \"pesan yang akan dikirim ke user\"\n}\n```\n\n---\n\n## 🧩 Panduan Eksekusi\n- Jika perintah dari user akan **mengubah data atau menjalankan command berisiko**, minta approval dulu.\n- Setelah user memberikan persetujuan, sertakan konteks `approved: true` saat memanggil agent anak.\n- Jika perintah hanya untuk **membaca, monitoring, atau diagnosa**, langsung jalankan perintah agent anak tanpa approval.\n- Saat mencatat ke database atau sheet, **gabungkan semua data dalam satu output** untuk menghemat token ketika perintah agent anak.\n- Jangan kembalikan `needApproval: true` hanya untuk klarifikasi (misalnya menanyakan detail tambahan).\n- Selalu kembalikan hasil yang ringkas, informatif, dan tidak redundan.\n- Sekarang adalah **{{ $now }}**.","passthroughBinaryImages":true,"enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[400,-272],"id":"1c0996c9-309d-4d43-8fda-6c09d0b15091","name":"AI Agent","alwaysOutputData":false,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-48,-48],"id":"52ecae7f-8058-4aaa-98e6-362d1d9f1a93","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LPqCX4YBuBetFhd2","name":"Google Gemini(PaLM) Api bintang10panji@gmail.com"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Input').item.json.message.from.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[80,-48],"id":"be1369f8-733f-4678-a03a-63dbc58f83b9","name":"Simple Memory"},{"parameters":{"description":"call this tool for calendar or schedule related things","workflowId":{"__rl":true,"value":"s0FyZDAmXHofrOEz","mode":"list","cachedResultUrl":"/workflow/s0FyZDAmXHofrOEz","cachedResultName":"Calendar agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[208,-48],"id":"2bf267b4-f90b-4b94-a474-f8715d80a6f6","name":"Call 'Calendar agent'"},{"parameters":{"description":"call this tool for finance related things\n","workflowId":{"__rl":true,"value":"efllgWgkQ1EbMi9v","mode":"list","cachedResultUrl":"/workflow/efllgWgkQ1EbMi9v","cachedResultName":"Finance Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[336,-48],"id":"ff5727a2-9931-49c3-92f1-877f38676ccc","name":"Call 'Finance Agent'"},{"parameters":{"description":"call this tool if a user request for \"absen simkuliah\"","workflowId":{"__rl":true,"value":"JOwGA6XCfmsKkx5g","mode":"list","cachedResultUrl":"/workflow/JOwGA6XCfmsKkx5g","cachedResultName":"Absen Otomatis"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[464,-48],"id":"729a315d-70a2-4b72-8606-4ff673d8d991","name":"Call 'Absen Otomatis'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cb8d0019-166a-4b7e-a8d8-a4c7eb056735","leftValue":"={{ $json.output.needApproval }}","rightValue":"={{\"False\" || \"false\"}}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,-288],"id":"a2cff4b8-a960-4d15-85df-01f7b11dad49","name":"If1","disabled":true},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message":"={{ $json.output.message }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1504,-208],"id":"c65067f2-3cbd-4789-b688-cb6a0d78318f","name":"Send a text message1","webhookId":"f1172fa8-4649-40b8-91c9-7c3521c7fb96","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"6eda2e16-87e3-421b-8fcc-66cd19ddb0d2","name":"message.text","value":"=Approved: {{ $json.data.approved }}","type":"string"},{"id":"4c95b080-8800-4f30-a1f3-f1ab11f72a14","name":"message.chat.id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,-208],"id":"7f89e731-6ce6-423c-9492-4726a34012c7","name":"Edit Fields","disabled":true},{"parameters":{"jsonSchemaExample":"{\n\t\"needApproval\": \"false\",\n\t\"message\": \"your message\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[976,-48],"id":"ca24571e-da10-4a4b-8691-a51a5d20f4db","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"24653134-1a81-44ef-943c-5bcd276d854e","name":"message.text","value":"=data:  {{ $json.content.parts[0].text }}\nprompt :{{ $('Telegram Trigger').item.json.message.caption }}","type":"string"},{"id":"7e5777c7-4e39-4757-891a-9c230f259466","name":"message.from.id","value":"={{ $('Telegram Trigger').item.json.message.from.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,-528],"id":"91d520d4-038f-4098-9eb0-a708078bc91a","name":"Edit Fields1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-lite","mode":"list","cachedResultName":"models/gemini-2.5-flash-lite"},"text":"analisa dan extract data dari file  ini.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[544,-528],"id":"d50dbae0-1f7e-4707-9a60-b48caec89df1","name":"Analyze image","retryOnFail":true,"alwaysOutputData":true,"credentials":{"googlePalmApi":{"id":"lfN5mO8DukhyYt64","name":"Google Gemini(PaLM) Api bintang.23@mhs.usk.ac.id"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,-528],"id":"600a5bfc-7422-4cb1-b917-392a1157df1b","name":"Get a file","webhookId":"1a748b4b-b933-4bc8-b8bb-f21387271a0d","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[592,-48],"id":"d294d3e5-d496-4952-b6bd-90df43d6a626","name":"Calculator"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[720,-48],"id":"23ca08c5-24a4-4384-a811-556343429857","name":"Wikipedia"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[1440,-560],"id":"c85cbd2c-2492-4f13-89f8-f9a20da7bf83","name":"Telegram Trigger","webhookId":"d868b099-ffff-4c3b-80d5-89b2b7102a33","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true},"id":"d856a6aa-bd43-4c3e-9d99-c8c79a4d355f"}],"combinator":"and"},"renameOutput":true,"outputKey":"Photo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a4c82b69-511c-4160-8efe-913e4aae47b9","leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Document"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0144ae75-58d8-4d59-98f0-98815e4047d3","leftValue":"={{ $json.message.text }}{{ $json.body.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[160,-320],"id":"8f7f4ec6-4067-4a5a-b8d1-9ae7b05673cc","name":"Switch"},{"parameters":{"description":"call this tool whenever user asking something about his Homelab/server","workflowId":{"__rl":true,"value":"7ITq4YArmaV9dGTX","mode":"list","cachedResultUrl":"/workflow/7ITq4YArmaV9dGTX","cachedResultName":"Homelab IT Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[848,-48],"id":"bc085e32-9948-4b6b-991d-c2cb13842c11","name":"Call 'Homelab IT Agent'"},{"parameters":{"httpMethod":"POST","path":"13951f35-791b-4364-b6a5-a66307eb402c","authentication":"jwtAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-176,-304],"id":"8a990090-8155-4c1b-800b-93b3a9a3722b","name":"Webhook","webhookId":"13951f35-791b-4364-b6a5-a66307eb402c","credentials":{"jwtAuth":{"id":"ICal7n8KdNR5FnI2","name":"JWT Auth account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[720,-272],"id":"67778adc-538d-433f-a68f-bba20879af9f","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"24653134-1a81-44ef-943c-5bcd276d854e","name":"message.text","value":"={{ $json.body.message }}{{ $json.body.approval }}","type":"string"},{"id":"7e5777c7-4e39-4757-891a-9c230f259466","name":"message.from.id","value":"=chat031004","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-304],"id":"2e7370cb-ca06-4927-ad84-aa6d39278414","name":"Input"}],"connections":{"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call 'Calendar agent'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call 'Finance Agent'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Call 'Absen Otomatis'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If1":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[]]},"Switch":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Call 'Homelab IT Agent'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Input","type":"main","index":0}]]},"Input":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"AvhjGJdACMdnvIEn","availableInMCP":false,"timeSavedPerExecution":5},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9812823e-8af2-4034-a6ab-01abe0e4eab7","triggerCount":1,"shared":[{"updatedAt":"2025-07-30T00:35:26.170Z","createdAt":"2025-07-30T00:35:26.170Z","role":"workflow:owner","workflowId":"U1haGqYgKBrLqDW7","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[{"updatedAt":"2025-10-06T05:05:37.121Z","createdAt":"2025-10-06T05:05:37.121Z","id":"Xp9ppupv5ftjKZ28","name":"Agents"}]}