ultimate-personal-assistant-U1haGqYgKBrLqDW7.json
{"createdAt":"2025-07-30T00:35:26.164Z","updatedAt":"2025-10-08T16:20:47.000Z","id":"U1haGqYgKBrLqDW7","name":"Ultimate Personal Assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"7257300008","text":"={{ $json.message}}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1216,-352],"id":"35a2076f-1494-4727-bf81-9f82c2b22c53","name":"Send a text message","webhookId":"e1d31fe0-a0d0-4d0e-a11a-88775721a9c9","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}}},{"parameters":{"jsCode":"// Ambil input dari field yang berisi pesan\nconst msg = $input.first().json.output.message; // sesuaikan dengan nama field kamu\n\n// Hilangkan karakter raw Markdown yang bisa bikin Telegram error\nconst cleaned = msg\n  .replace(/[*_`~]/g, '')      // hapus semua *, _, `, ~\n  .replace(/\\n{2,}/g, '\\n')    // ubah 2+ newline jadi 1 newline\n  .replace(/^\\s*[-*]\\s+/gm, '')// hilangkan bullet list (-, *) di awal baris\n\nreturn {\n  json: {\n    message: cleaned,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-352],"id":"d3c27a0f-2a63-4e26-ae43-5d33f084b21d","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"=kamu adalah asisten pribadi yang helpfull, kamu bisa:\n1. mengubah, tambah data ke sheet untuk mencatat finance,\n2. mengakses, menghapus, buat dan update google calendar saya,\n3. mengakses cli homelab saya menggunakan tool Homelab CLI (sebutkan command apa yang akan kamu jalankan)\n4. mengakses database homelab untuk melihat rincian homelab SamVivan (user) \n\n  INGAT! setiap mau melakukan perintah yang dapat mengubah atau berefek ke server, MINTA APPROVAL dulu ke user, tapi untuk monitoring dan troubleshooting kamu boleh melakukannya langsung. dan untuk hal lainnya juga seperti itu, seperti calendar dan pencatatan, tanyakan APPROVAL dari user dulu. minta approval ke user HANYA jika ingin MENG-EKSEKUSI/INPUT lansung ke tool.\n\nCATATAN!\n1. kembalikan `needApproval : true` hanya jika anda ingin melakukan aksi tertentu, ketika menanyakan sesuatu ke user, jangan kembalikan nilai true, contohnya ketika mau menanyakan \"apa nama service tersebut\", kembalikan false.\n2. ketika mencatat ke database/tabel/sheet, jangan eksekusi satu persatu, tapi hanya satu output tapi semua data ada, untuk menghemat completion token\n\n\nformat output :\n{\n\t\"needApproval\": \"false/true\",\n\t\"message\": \"your message\"\n}\n\nsekarang adalah {{$now}}","passthroughBinaryImages":true,"enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[288,-272],"id":"1c0996c9-309d-4d43-8fda-6c09d0b15091","name":"AI Agent","alwaysOutputData":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-48,-32],"id":"52ecae7f-8058-4aaa-98e6-362d1d9f1a93","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LPqCX4YBuBetFhd2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[80,-32],"id":"be1369f8-733f-4678-a03a-63dbc58f83b9","name":"Simple Memory"},{"parameters":{"description":"call this tool for calendar or schedule related things","workflowId":{"__rl":true,"value":"s0FyZDAmXHofrOEz","mode":"list","cachedResultUrl":"/workflow/s0FyZDAmXHofrOEz","cachedResultName":"Calendar agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[208,-32],"id":"2bf267b4-f90b-4b94-a474-f8715d80a6f6","name":"Call 'Calendar agent'"},{"parameters":{"description":"call this tool for finance related things\n","workflowId":{"__rl":true,"value":"efllgWgkQ1EbMi9v","mode":"list","cachedResultUrl":"/workflow/efllgWgkQ1EbMi9v","cachedResultName":"Finance Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[336,-32],"id":"ff5727a2-9931-49c3-92f1-877f38676ccc","name":"Call 'Finance Agent'"},{"parameters":{"description":"call this tool if a user request for \"absen simkuliah\"","workflowId":{"__rl":true,"value":"JOwGA6XCfmsKkx5g","mode":"list","cachedResultUrl":"/workflow/JOwGA6XCfmsKkx5g","cachedResultName":"Absen Otomatis"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[464,-32],"id":"729a315d-70a2-4b72-8606-4ff673d8d991","name":"Call 'Absen Otomatis'"},{"parameters":{"description":"call this tool to use user homelab cli","workflowId":{"__rl":true,"value":"DblYrk0azkxZdLCx","mode":"list","cachedResultUrl":"/workflow/DblYrk0azkxZdLCx","cachedResultName":"HomeLab CLI"},"workflowInputs":{"mappingMode":"defineBelow","value":{"command":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"},"matchingColumns":["command"],"schema":[{"id":"command","displayName":"command","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[592,-32],"id":"561d61ff-fc28-4617-9b02-2d7aae7c1653","name":"Call 'HomeLab CLI'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cb8d0019-166a-4b7e-a8d8-a4c7eb056735","leftValue":"={{ $json.output.needApproval }}","rightValue":"={{\"False\" || \"false\"}}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,-256],"id":"a2cff4b8-a960-4d15-85df-01f7b11dad49","name":"If1"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message":"={{ $json.output.message }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,-192],"id":"c65067f2-3cbd-4789-b688-cb6a0d78318f","name":"Send a text message1","webhookId":"f1172fa8-4649-40b8-91c9-7c3521c7fb96","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}}},{"parameters":{"assignments":{"assignments":[{"id":"6eda2e16-87e3-421b-8fcc-66cd19ddb0d2","name":"message.text","value":"={{ $json.data.approved }}","type":"string"},{"id":"4c95b080-8800-4f30-a1f3-f1ab11f72a14","name":"message.chat.id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,-192],"id":"7f89e731-6ce6-423c-9492-4726a34012c7","name":"Edit Fields"},{"parameters":{"jsonSchemaExample":"{\n\t\"needApproval\": \"false\",\n\t\"message\": \"your message\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[848,-32],"id":"ca24571e-da10-4a4b-8691-a51a5d20f4db","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"24653134-1a81-44ef-943c-5bcd276d854e","name":"message.text","value":"=data:  {{ $json.content.parts[0].text }}\nprompt :{{ $('Telegram Trigger').item.json.message.caption }}","type":"string"},{"id":"7e5777c7-4e39-4757-891a-9c230f259466","name":"message.from.id","value":"={{ $('Telegram Trigger').item.json.message.from.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,-544],"id":"91d520d4-038f-4098-9eb0-a708078bc91a","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f6a63e94-546f-4819-be4d-41a75354fc60","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"dcab05bd-79c2-4bac-84a5-361d993816a5","leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,-288],"id":"43568313-8ba9-4dac-84a0-8ba1f2d1753e","name":"If"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-2.5-flash-lite","mode":"list","cachedResultName":"models/gemini-2.5-flash-lite"},"text":"analisa dan extract data dari file  ini.","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[384,-544],"id":"d50dbae0-1f7e-4707-9a60-b48caec89df1","name":"Analyze image","retryOnFail":true,"alwaysOutputData":true,"credentials":{"googlePalmApi":{"id":"LPqCX4YBuBetFhd2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[160,-544],"id":"600a5bfc-7422-4cb1-b917-392a1157df1b","name":"Get a file","webhookId":"1a748b4b-b933-4bc8-b8bb-f21387271a0d","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[720,-32],"id":"d294d3e5-d496-4952-b6bd-90df43d6a626","name":"Calculator"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[960,-32],"id":"23ca08c5-24a4-4384-a811-556343429857","name":"Wikipedia"},{"parameters":{"descriptionType":"manual","toolDescription":"Insert row in Data table for homelab related things","dataTableId":{"__rl":true,"value":"ikuRqUukZzbYdCtc","mode":"list","cachedResultName":"Homelab IPs","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/ikuRqUukZzbYdCtc"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}","ip_address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ip_address', ``, 'string') }}","port":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('port', ``, 'string') }}","access_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('access_url', ``, 'string') }}","container_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('container_name', ``, 'string') }}","image_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_name', ``, 'string') }}","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ip_address","displayName":"ip_address","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"port","displayName":"port","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"access_url","displayName":"access_url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"container_name","displayName":"container_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"image_name","displayName":"image_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-160,-32],"id":"e857eaad-a9be-4ebe-8e37-a9103fa1cfb0","name":"Insert row in Homelab Data"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-240,-288],"id":"c85cbd2c-2492-4f13-89f8-f9a20da7bf83","name":"Telegram Trigger","webhookId":"d868b099-ffff-4c3b-80d5-89b2b7102a33","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}}},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"ikuRqUukZzbYdCtc","mode":"list","cachedResultName":"Homelab IPs","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/ikuRqUukZzbYdCtc"},"filters":{"conditions":[{"keyName":"name","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-272,-32],"id":"bf4db90e-8ce4-47c4-8bd4-3256f9ff4ba4","name":"Get row(s) in Homelab data"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"ikuRqUukZzbYdCtc","mode":"list","cachedResultName":"Homelab","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/ikuRqUukZzbYdCtc"},"filters":{"conditions":[{"keyName":"name","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}","ip_address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ip_address', ``, 'string') }}","port":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('port', ``, 'string') }}","access_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('access_url', ``, 'string') }}","container_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('container_name', ``, 'string') }}","image_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_name', ``, 'string') }}","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ip_address","displayName":"ip_address","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"port","displayName":"port","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"access_url","displayName":"access_url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"container_name","displayName":"container_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"image_name","displayName":"image_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-384,-32],"id":"16b2d64e-f364-4417-8482-9b97d5f41368","name":"Update row(s) in Homelab data"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"ikuRqUukZzbYdCtc","mode":"list","cachedResultName":"Homelab","cachedResultUrl":"/projects/DiQC0tGxFhuiK9UM/datatables/ikuRqUukZzbYdCtc"},"filters":{"conditions":[{"keyName":"name","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"}]},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}","ip_address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ip_address', ``, 'string') }}","port":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('port', ``, 'string') }}","access_url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('access_url', ``, 'string') }}","container_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('container_name', ``, 'string') }}","image_name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_name', ``, 'string') }}","category":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ip_address","displayName":"ip_address","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"port","displayName":"port","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"access_url","displayName":"access_url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"container_name","displayName":"container_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"image_name","displayName":"image_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.dataTableTool","typeVersion":1,"position":[-512,-32],"id":"f14726b6-88f6-4dec-bd88-e587bf1bb5ce","name":"Upsert row(s) in Data table"}],"connections":{"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call 'Calendar agent'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call 'Finance Agent'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Call 'Absen Otomatis'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call 'HomeLab CLI'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If1":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Insert row in Homelab Data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Get row(s) in Homelab data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update row(s) in Homelab data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Upsert row(s) in Data table":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"AvhjGJdACMdnvIEn","availableInMCP":false,"timeSavedPerExecution":5},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"812726d3-1ad0-429f-bbeb-44086ef34462","triggerCount":1,"shared":[{"createdAt":"2025-07-30T00:35:26.170Z","updatedAt":"2025-07-30T00:35:26.170Z","role":"workflow:owner","workflowId":"U1haGqYgKBrLqDW7","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[]}