ultimate-personal-assistant-U1haGqYgKBrLqDW7.json
{"createdAt":"2025-07-30T00:35:26.164Z","updatedAt":"2025-10-07T06:37:29.000Z","id":"U1haGqYgKBrLqDW7","name":"Ultimate Personal Assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"7257300008","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1152,-352],"id":"35a2076f-1494-4727-bf81-9f82c2b22c53","name":"Send a text message","webhookId":"e1d31fe0-a0d0-4d0e-a11a-88775721a9c9","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}}},{"parameters":{"jsCode":"// Ambil input dari field yang berisi pesan\nconst msg = $input.first().json.output.message; // sesuaikan dengan nama field kamu\n\n// Hilangkan karakter raw Markdown yang bisa bikin Telegram error\nconst cleaned = msg\n  .replace(/[*_`~]/g, '')      // hapus semua *, _, `, ~\n  .replace(/\\n{2,}/g, '\\n')    // ubah 2+ newline jadi 1 newline\n  .replace(/^\\s*[-*]\\s+/gm, '')// hilangkan bullet list (-, *) di awal baris\n\nreturn {\n  json: {\n    message: cleaned,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-320],"id":"d3c27a0f-2a63-4e26-ae43-5d33f084b21d","name":"Code"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[1].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-48,-544],"id":"600a5bfc-7422-4cb1-b917-392a1157df1b","name":"Get a file","webhookId":"1a748b4b-b933-4bc8-b8bb-f21387271a0d","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}},"disabled":true},{"parameters":{"operation":"information"},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[240,-480],"id":"78abab16-dd42-4320-baf5-f9da97a8b47b","name":"Edit Image","disabled":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemini-1.5-flash","mode":"list","cachedResultName":"models/gemini-1.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[480,-480],"id":"d50dbae0-1f7e-4707-9a60-b48caec89df1","name":"Analyze image","retryOnFail":true,"alwaysOutputData":true,"credentials":{"googlePalmApi":{"id":"LPqCX4YBuBetFhd2","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f6a63e94-546f-4819-be4d-41a75354fc60","leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,-352],"id":"43568313-8ba9-4dac-84a0-8ba1f2d1753e","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"=kamu adalah asisten pribadi yang helpfull, kamu bisa:\n1. mengubah, tambah data ke sheet untuk mencatat finance,\n2. mengakses, menghapus, buat dan update google calendar saya,\n3. mengakses cli homelab saya menggunakan tool Homelab CLI (sebutkan command apa yang akan kamu jalankan)\n\n  INGAT! setiap mau melakukan perintah yang dapat mengubah atau berefek ke server, MINTA APPROVAL dulu ke user, tapi untuk monitoring dan troubleshooting kamu boleh melakukannya langsung. dan untuk hal lainnya juga seperti itu, seperti calendar dan pencatatan, tanyakan APPROVAL dari user dulu. minta approval ke user HANYA jika ingin MENG-EKSEKUSI/INPUT lansung ke tool.\n\nformat output :\n{\n\t\"needApproval\": \"false/true\",\n\t\"message\": \"your message\"\n}\n\nsekarang adalah {{$now}}","passthroughBinaryImages":true,"enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-112,-256],"id":"1c0996c9-309d-4d43-8fda-6c09d0b15091","name":"AI Agent","alwaysOutputData":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-256,-48],"id":"52ecae7f-8058-4aaa-98e6-362d1d9f1a93","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LPqCX4YBuBetFhd2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-112,-48],"id":"be1369f8-733f-4678-a03a-63dbc58f83b9","name":"Simple Memory"},{"parameters":{"description":"call this tool for calendar or schedule related things","workflowId":{"__rl":true,"value":"s0FyZDAmXHofrOEz","mode":"list","cachedResultUrl":"/workflow/s0FyZDAmXHofrOEz","cachedResultName":"Calendar agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[352,-48],"id":"2bf267b4-f90b-4b94-a474-f8715d80a6f6","name":"Call 'Calendar agent'"},{"parameters":{"description":"call this tool for finance related things\n","workflowId":{"__rl":true,"value":"efllgWgkQ1EbMi9v","mode":"list","cachedResultUrl":"/workflow/efllgWgkQ1EbMi9v","cachedResultName":"Finance Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[16,-48],"id":"ff5727a2-9931-49c3-92f1-877f38676ccc","name":"Call 'Finance Agent'"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-496,-384],"id":"8151c9c1-41dd-4b58-833c-94c727afedab","name":"Telegram Trigger","webhookId":"2c666b8f-9bef-4bae-8156-b6994a2f3a38","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}}},{"parameters":{"description":"call this tool if a user request for \"absen simkuliah\"","workflowId":{"__rl":true,"value":"JOwGA6XCfmsKkx5g","mode":"list","cachedResultUrl":"/workflow/JOwGA6XCfmsKkx5g","cachedResultName":"Absen Otomatis"},"workflowInputs":{"mappingMode":"defineBelow","value":{}}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[240,-48],"id":"729a315d-70a2-4b72-8606-4ff673d8d991","name":"Call 'Absen Otomatis'"},{"parameters":{"description":"call this tool to use homelab cli agent","workflowId":{"__rl":true,"value":"5SMUj52V8JVFXGEf","mode":"list","cachedResultUrl":"/workflow/5SMUj52V8JVFXGEf","cachedResultName":"Homelab CLI agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}","chatid":"chat123"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"chatid","displayName":"chatid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-544,-80],"id":"6f0c5bcd-4cde-4b95-8a92-6aa056890886","name":"Call 'Homelab CLI agent'","disabled":true},{"parameters":{"description":"call this tool to use user homelab cli","workflowId":{"__rl":true,"value":"DblYrk0azkxZdLCx","mode":"list","cachedResultUrl":"/workflow/DblYrk0azkxZdLCx","cachedResultName":"HomeLab CLI"},"workflowInputs":{"mappingMode":"defineBelow","value":{"command":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"},"matchingColumns":["command"],"schema":[{"id":"command","displayName":"command","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[128,-48],"id":"561d61ff-fc28-4617-9b02-2d7aae7c1653","name":"Call 'HomeLab CLI'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cb8d0019-166a-4b7e-a8d8-a4c7eb056735","leftValue":"={{ $json.output.needApproval }}","rightValue":"={{\"False\" || \"false\"}}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[336,-256],"id":"a2cff4b8-a960-4d15-85df-01f7b11dad49","name":"If1"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","message":"={{ $json.output.message }}","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,-176],"id":"c65067f2-3cbd-4789-b688-cb6a0d78318f","name":"Send a text message1","webhookId":"f1172fa8-4649-40b8-91c9-7c3521c7fb96","credentials":{"telegramApi":{"id":"1Vf4y3O8IUaVv9hK","name":"Personal Assistent"}}},{"parameters":{"assignments":{"assignments":[{"id":"6eda2e16-87e3-421b-8fcc-66cd19ddb0d2","name":"message.text","value":"={{ $json.data.approved }}","type":"string"},{"id":"4c95b080-8800-4f30-a1f3-f1ab11f72a14","name":"message.chat.id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-176],"id":"7f89e731-6ce6-423c-9492-4726a34012c7","name":"Edit Fields"},{"parameters":{"jsonSchemaExample":"{\n\t\"needApproval\": \"false\",\n\t\"message\": \"your message\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[48,96],"id":"ca24571e-da10-4a4b-8691-a51a5d20f4db","name":"Structured Output Parser"}],"connections":{"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[]]},"If":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call 'Calendar agent'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call 'Finance Agent'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"If1","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Call 'Absen Otomatis'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call 'Homelab CLI agent'":{"ai_tool":[[]]},"Call 'HomeLab CLI'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If1":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"AvhjGJdACMdnvIEn"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5ece3f53-d44f-4ce6-a9d4-accfb406cca6","triggerCount":1,"shared":[{"createdAt":"2025-07-30T00:35:26.170Z","updatedAt":"2025-07-30T00:35:26.170Z","role":"workflow:owner","workflowId":"U1haGqYgKBrLqDW7","projectId":"DiQC0tGxFhuiK9UM"}],"tags":[]}